.title {
	color: #4a4a4a;

	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
	padding: 10px 50px 10px 10px;
	margin: 0;
}

.title i {
	margin: 0 20px 0 0;
}

.title i:hover {
	color: #4a90e2;
	cursor: pointer;
}
.inputsMassGroup {
	display: flex;
	justify-content: space-between;
}
.inputsMassGroup > div {
	width: 45%;
}
.uploadList {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	margin-bottom: 43px;
}
.priceInput {
	margin-bottom: 10px;
}
.management {
	background: #fff;
	padding: 35px 27px;
}

.management h3 {
	color: #4a4a4a;

	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	margin-bottom: 38px;
}

.categories {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.categories label {
	font-weight: 500;
	font-size: 14px;
	color: rgb(50, 51, 50);
	margin-bottom: 9px;
}

.categories select {
	height: 41px;
	width: 294px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
	margin-right: 16px;
}

.export {
	width: 280px;
	margin-left: 27px;
}

.priceList {
	background: #fff;
	padding: 35px 27px;
	display: flex;
	margin-bottom: 36.5px;
}

.priceList p {
	color: #808080;

	font-size: 14px;
	line-height: 16px;
	margin-bottom: 22px;
}

.copyLink {
	color: #808080;

	font-size: 14px;
	line-height: 16px;
	display: block;
	margin-right: 67px;
}

.copyLink img {
	margin-right: 14px;
}

.priceList label {
	color: #808080;

	font-size: 14px;
	line-height: 16px;
	display: block;
	margin-bottom: 9.5px;
}

.priceList input {
	height: 41px;
	width: 506px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
	padding-left: 20px;
}

/* Main buttons styles */
.save,
.download,
.uploadList,
.export,
.delete,
.find,
.actbtn,
.addUrlBtn,
.YMLbtn,
.downloadBtn,
.addPicture label,
.addPicture p {
	height: 40px;
	border-radius: 5px;
	background-color: #4a90e2;
	color: #ffffff;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	cursor: pointer;
}

.save,
.download {
	width: 187px;
}

.save {
	display: block;
	/* margin-left: auto; */
}

.delete {
	width: 169px;
	background-color: #c45151;
}

.downloadBtn {
	width: 169px;
}

.priceAction {
	display: flex;
	align-items: flex-end;
}

.url {
	margin-right: 41.5px;
}

.delete {
	margin-right: 20px;
}

.priceListTable {
	background: #fff;
	padding: 31.5px 29px;
}

/* Filter */
.filter {
	padding: 30px 0 0 0;
	background: #fff;
	display: flex;
	align-items: flex-end;
}

.filter label {
	color: #4a4a4a;

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	display: block;
	margin-bottom: 8.5px;
}

.filter .productName {
	height: 31px;
	width: 100%;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
	padding: 0 0 0 5px;
}

.filter > div {
	margin: 0 20px 0 0;
	display: flex;
	flex-direction: column;
}

.filter .category {
	width: 100%;
	border-radius: 3px;
	background-color: #ffffff;
}

.filter .nameProduct {
	width: 24%;
}

.filter .vendorCode {
	width: 8%;
}

.filter .brand {
	width: 13%;
}

.filter .category {
	width: 25%;
}

.filter .availability {
	height: 31px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
}

.priceMin {
	width: 80px;
}

.priceMax {
	width: 80px;
}

.filter .priceMin,
.filter .priceMax {
	height: 31px;
	width: 80px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
}

.find {
	width: 169px;
	margin-top: 20px;
	display: block;
}

.totalProductsBottom {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 15px;
	font-weight: 500;
	margin: 0 20px 0 0;
}

.totalProducts {
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: 500;
	margin: 0 0 0 auto;
	width: 140px;
}

.actbtn {
	padding: 10px 26px;
	margin-right: 20px;
}

.mainInfo {
	padding-top: 30px;
}

.btnRestyleAdd {
	width: 170px;
	height: 36px;
	font-size: 14px;
	/* border-bottom-right-radius: 0;
	border-top-right-radius: 0; */
	margin: 0 10px 0 0;
	padding: 0;
}

.mainInfo label {
	font-size: 14px;
	font-weight: 500;
	color: rgb(50, 51, 50);
	margin: 0 0 15px 0;
}

/*.mainInfo input[type='text'],*/
/*.mainInfo input[type='number'] {*/
/*	height: 41px;*/
/*	width: 287px;*/
/*	border: 1px solid #ececec;*/
/*	border-radius: 3px;*/
/*	background-color: #ffffff;*/
/*}*/

.inputsGroup {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.inputsGroup > div {
	margin-bottom: 15px;
}
.inputsGroup > div:nth-child(2),
.inputsGroup > div:nth-child(3),
.inputsGroup > div:nth-child(4),
.inputsGroup > div:nth-child(5) {
	width: 24%;
}
@media only screen and (max-width: 768px) {
	.inputsGroup > div {
		width: 100%;
	}
}
.inputsGroup > div:first-child {
	width: 100%;
}
.volumes {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.volumes h3 {
	text-decoration: underline;
	margin-bottom: 10px;
	flex-basis: 100%;
}
.mainInfo textarea {
	height: 200px;
	width: 100%;
	border: 1px solid #ececec;
	border-radius: 3px;
	background-color: #ffffff;
	resize: none;
	padding: 10px 20px;
	margin-bottom: 17px;
}

.selectCategory,
.selectPrice,
.addPicture {
	padding-top: 31px;
}

.selectCategory label,
.selectPrice label {
	font-size: 14px;
	font-weight: 500;
	color: rgb(50, 51, 50);
	margin: 0 0 15px 0;
	display: block;
}

.selectCategory select {
	height: 41px;
	width: 100%;
	border: 1px solid #ececec;
	border-radius: 3px;
	background-color: #ffffff;
	margin-bottom: 15px;
}

.addPicture input[type='file'] {
	display: none;
}

.addPicture label,
.addPicture p {
	width: 226px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.upload {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.upload div {
}

.addUrl {
	/* position: relative; */
	margin-bottom: 48px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 68%;
}

.addUrl button {
	margin: 0 0 0 10px;
}

.addUrlBtn {
	/*width: 187px;*/
	/* position: absolute; */
	/* right: 0; */
}

.uploadInfo {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.uploadInfo span {
	width: 250px;
	font-size: 13px;
}

.addYml {
	display: flex;
	flex-direction: row;
	height: auto;
	margin-top: 14px;
	background-color: #ffffff;
	position: relative;
	height: 100%;
}

.addYml .top {
	/*padding-top: 10px;*/
	/*padding-bottom: 20px;*/
	margin-bottom: 10px;
	width: 250px;
	/*border-bottom: 1px solid #e2e2e2;*/
}

.radioExportYML {
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 100%;
	margin-bottom: 20px;
}

.rowSecondExportBlock {
	top: 0;
	width: 600px;
	min-height: 252px;
	padding-left: 20px;
	margin-top: 2px;
}

.addYml h5 {
	color: #4a4a4a;

	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
}

.addYml label {
	color: #4a4a4a;

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	display: block;
	width: 100px;
}

.addYml div div {
	position: relative;
}

.YMLbtns input {
	height: 31px;
	width: 100%;
	border: 1px solid #ececec;
	border-radius: 3px;
	background-color: #ffffff;
	margin-bottom: 20px;
	padding-left: 7px;
	position: relative;
}

.YMLbtn {
	width: 206px;
	margin-right: 20px;
}

.modal_export_view {
	/*position: absolute;*/
	margin-top: 20px;
	width: 250px;
}

.addInMyShopTable {
	display: flex;
	align-items: center;
	line-height: 15px;
	font-size: 14px;
	font-weight: 500;
}

.addInShop {
	margin-top: -9px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.defaultPicture {
	margin-bottom: 20px;
}
.addYml .body {
	padding: 13.5px;
}

.copy {
	height: 31px;
	width: 90px;
	border-radius: 3px;
	background-color: #4a90e2;
	color: #ffffff;

	font-size: 12px;
	font-weight: 500;
	line-height: 14px;
	position: relative;
	justify-content: flex-end;
	padding: 0 10px;
	right: 0;
	cursor: pointer;
}

.inputhref {
	/*width: 200px;*/
	height: 31px;
	padding: 0;
	display: block;
	position: relative;
}

.export__modal {
	/* display: flex; */
	border-bottom: none;
}

.yml__img {
	width: 200px;
	height: 200px;
	margin: 0px 28%;
	opacity: 0.1;
}

.importModal {
	display: flex;
	/*justify-content: space-around;*/
	margin-top: 0;
	padding-left: 20px;
	flex-direction: row;
	width: 100%;
	height: 443px;
}

.importDragNDropYMLType {
	font-weight: 800;
	font-size: 18px;
	padding-bottom: 40px;
}

.importBtn {
	margin: 0;
}

.myProductsBtnLeft {
	font-size: 14px;
	font-weight: 500;
	min-width: 180px;
	height: 36px;

	border-width: 1;
	margin: 0 10px 0 0;
	padding: 0;
}
.myProductsBtnMiddle {
	font-size: 14px;
	font-weight: 500;
	min-width: 170px;
	height: 36px;
	border-radius: 0;
	border-width: 1;
	margin: 0;
	padding: 0;
}

.myProductsBtnImport {
	font-size: 20px;
	min-width: 40px;
	height: 36px;

	border-width: 1;

	margin: 0;
	padding: 0;
}

.myProductsBtnExport {
	font-size: 20px;
	min-width: 40px;
	height: 36px;
	border-radius: 0;
	border-width: 1;
	margin: 0;
	padding: 0;
}

.downloadHistoryBtn {
	margin-top: 195px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.ant-upload-list {
	display: none !important;
}

.wrap {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	flex-wrap: wrap;
	padding: 7px 19px;
}

.howToAdd {
	color: #4a90e2;

	font-size: 26px;
	display: block;
}

/* ========================22/10/2019============================= */
/* ==================Styles for Search Bar======================== */
.mainWrapper {
	padding: 10px;
	/* border-radius: 8px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); */
}
.searchBar {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-size: 14px;
	margin: 10px 0 30px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 20px;
}
.controlsWrapper {
	display: flex;
	width: 100%;
	margin-bottom: 10px;
}
.exportYMLType {
	margin: 7px 10px 0 0;
}

.searchBar input,
.searchBar select {
	width: 250px;
	margin: 4px 8px 4px 0;
	height: 32px;
	padding: 4px 11px;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	line-height: 1.5;
	background-color: #fff;
	background-image: none;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	transition: all 0.3s;
	text-overflow: ellipsis;
}

.searchBar input::placeholder {
	color: #b2b2b2;
	text-overflow: ellipsis;
}

.searchBar input:nth-child(2),
.searchBar input:nth-child(3) {
	width: 150px;
}

.searchBar select:nth-child(4) {
	width: 125px;
}

.searchBar input:nth-child(5),
.searchBar input:nth-child(6),
.searchBar input:nth-child(7) {
	width: 100px;
}
.xmlComfirmDiv {
	display: flex;
	align-items: center;
}
.xmlHeadWrapper {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.xmlHeadWrapper h2 {
	margin-bottom: 0;
}
.xmlHeadWrapper button {
	margin-left: 20px;
}
.myXmlBtn {
	height: 34px;
	min-width: 160px;
}
.bottomBtns {
	position: absolute;
	bottom: 25px;
	left: 30px;
	display: flex;
	align-items: center;
}
.buttomcontrols {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 20px;
}
.buttomcontrols button {
	margin: 0 0 0  auto;
}
@media only screen and (max-width: 960px) {
	.inputsGroup > div:not(:first-child) {
		width: 45%;
	}
	.inputsGroup > div:last-child {
		width: 100%;
	}
}
@media only screen and (max-width: 768px) {
	.volumes div {
		width: 100%;
	}
	.addUrl {
		flex-direction: column;
		width: 100%;
		align-items: flex-start;
	}
	.uploadInfo {
		flex-direction: column;
	}
	.uploadInfo span {
		width: 100%;
		margin-bottom: 10px;
	}
	.uploadInfo button {
		width: 100%;
	}
	.addUrl button {
		margin: 10px 0 20px 0;
		width: 100%;
	}
	.buttomcontrols {
		flex-direction: column;
		align-items: center;
	}
	.buttomcontrols button {
		margin-bottom: 15px;
		width: 100%;
	}
}
