.title {
	color: #4a4a4a;

	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
	padding: 10px 50px 10px 10px;
	margin: 0;
}

.title i {
	margin: 0 20px 0 0;
}

.title i:hover {
	color: #4a90e2;
	cursor: pointer;
}

.totalProducts {
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: 500;
	margin: 0 0 0 auto;
	width: 140px;
}

.totalProductsBottom {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 15px;
	font-weight: 500;
	margin: -37px 20px 0 auto;
}

.top {
	display: flex;
	/*align-items: center;*/
	justify-content: space-between;
}

.howToAdd {
	color: #4a90e2;

	font-size: 16px;
	display: block;
}

.categoryList {
	height: auto;
	width: 271px;
	border: 1px solid #ececec;
	border-radius: 5px;
	background-color: #ffffff;
	margin-right: 29px;
}

.dropdownMenu {
	height: 767px;
	width: 100%;
	padding: 25px;
	border: 1px solid #ececec;
	border-radius: 5px;
	background-color: #ffffff;
	/*display: flex;*/
}

.dropdownMenu h5 {
	color: #4a4a4a;

	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	text-align: center;
}

.dropdownMenuList {
	display: flex;
	width: 100%;
	/*flex-direction: column;*/
	align-items: center;
}

.dropdownMenu ul li a {
	display: block;
}

.categories {
	width: 100%;
	margin: 0 auto;
	display: flex;
}

.categoriesBlock {
	min-height: 100%;
	width: 100%;
	padding: 20px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	/* border-radius: 10px; */
	background-color: #fff;
}

.actions {
	display: flex;
}

.addToMyProducts {
	height: 40px;
	width: 234px;
	border-radius: 5px;
	background-color: #b1b1b1;
	color: #ffffff;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin-right: 20px;
}

.downloadExel {
	height: 40px;
	width: 206px;
	border-radius: 5px;
	background-color: #4a90e2;
	color: #ffffff;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin-right: 20px;
}

.search {
	display: flex;
	width: 100%;
	position: relative;
	width: 297px;
}
.inputProduct {
	width: 100px;
}
input[type='search'] {
	height: 41px;
	width: 297px;
	padding-left: 20px;
	border: 1px solid #ececec;
	border-radius: 5px;
	background-color: #ffffff;
	margin-bottom: 25px;
	position: relative;
}

input[type='submit'] {
	position: absolute;
	right: 0;
	height: 40px;
	width: 45px;
	border-radius: 5px;
	background-color: #4a90e2;
	background-image: url('../../../img/search.svg');
	background-repeat: no-repeat;
	background-position: center center;
}

/* Filter */
.filter {
	padding: 30px 0 0 0;
	background: #fff;
	display: flex;
	/*justify-content: space-between;*/
	align-items: flex-end;
}

.filter label {
	color: #4a4a4a;

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	display: block;
	margin-bottom: 8.5px;
}

/*.filter .code,*/
/*.filter .vendorCode {*/
/*height: 31px;*/
/*width: 108px;*/
/*border: 1px solid #B2B2B2;*/
/*border-radius: 3px;*/
/*background-color: #FFFFFF;*/
/*}*/

.btnRestyleLeft {
	width: 170px;
	height: 36px;
	font-size: 14px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin: 0;
	padding: 0;
}
.btnRestyleRight {
	width: 170px;
	height: 36px;
	font-size: 14px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	margin: 0;
	padding: 0;
}

.filter .productName {
	height: 31px;
	width: 100%;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
	padding: 0 0 0 5px;
}

.filter > div {
	margin: 0 20px 0 0;
	display: flex;
	flex-direction: column;
}

.filter .category {
	width: 100%;
	border-radius: 3px;
	background-color: #ffffff;
}

.filter .nameProduct {
	width: 24%;
}
.filter .vendorCode {
	width: 8%;
}
.filter .brand {
	width: 13%;
}
.filter .category {
	width: 25%;
}

.filter .availability {
	height: 31px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
}

.filter .priceMin,
.filter .priceMax {
	height: 31px;
	width: 80px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
}

.find {
	height: 40px;
	width: 169px;
	border-radius: 5px;
	background-color: #4a90e2;
	color: #ffffff;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin-top: 20px;
	display: block;
}

.wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 7px 19px;
}
.wrap > div {
	margin-right: auto;
}
/* .main {
  padding: 28px 30px;
} */
.howToAdd {
	color: #4a90e2;

	font-size: 26px;
	display: block;
}
.inputPrice {
	width: 120px;
	margin-right: 10px;
}

/* ========================22/10/2019============================= */
/* ==================Styles for Search Bar======================== */

.searchBar {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	font-size: 14px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 20px;
	margin: 30px 0;
}

.searchBar input,
.searchBar select {
	margin: 4px 8px 4px 0;
	height: 32px;
	padding: 4px 11px;
	color: rgba(0, 0, 0, 0.65);
	font-size: 14px;
	line-height: 1.5;
	background-color: #fff;
	background-image: none;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	transition: all 0.3s;
	text-overflow: ellipsis;
}
.searchBar input::placeholder {
	color: #b2b2b2;
	text-overflow: ellipsis;
}
.searchBar input:nth-child(2),
.searchBar input:nth-child(3) {
	width: 150px;
}
.searchBar select:nth-child(4) {
	width: 125px;
}
.searchBar input:nth-child(5),
.searchBar input:nth-child(6) {
	width: 100px;
}
