.createTTN_tabs .ant-tabs-bar {
  border-bottom: 1px solid #ececec;
}
.createTTN_tabs .ant-tabs-content {
  background: #fff;
  border: none;
  padding: 0;
}
.createTTN_tabs .ant-tabs-top-content > .ant-tabs-tabpane-inactive {
  height: auto;
  padding: 25px !important;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.createTTN_tabs .ant-tabs-tabpane {
  padding: 25px;
}
.createTTN_inputsGroup {
  display: flex;
  flex-direction: column;
}
