.title {
	color: #4a4a4a;

	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
}
.searchOrders {
	width: 100%;
	background: #fff;
	padding: 24px 29px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 24px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.searchOrders .orderNumber {
	width: 18%;
}

.searchOrders label {
	color: #4a4a4a;

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	margin-bottom: 9px;
	display: block;
}

.productList img {
	width: 150px;
	height: 150px;
}

.searchOrders .orderNumber,
.searchOrders .orderStatus,
.searchOrders .name {
	margin-right: 19px;
}
.searchOrders .orderNumber input {
	height: 31px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
}

.searchOrders .orderDate input {
	height: 31px;
	/* width: 112px; */
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
	padding-left: 10px;
	margin-right: 24px;
}
.searchOrders .orderStatus select {
	height: 31px;
	/* width: 130px; */
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
	display: block;
}
.searchOrders .name input {
	height: 31px;
	/* width: 138px; */
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
}
.searchOrders .phone input {
	height: 31px;
	width: 162px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
}
.mainWrapper {
	padding: 10px;
}
.searchOrders .find {
	height: 40px;
	width: 169px;
	border-radius: 5px;
	background-color: #4a90e2;
	color: #ffffff;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	display: block;
	margin-top: 20px;
	margin-left: auto;
}

.delivery {
	display: flex;
	width: 100%;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #e2e2e2;
}

.total {
	display: flex;
	padding: 20px 0;
}
