.btn {
	height: 36px;
	margin-bottom: 20px;
	font-size: 14px;
	padding: 0 25px;
	font-weight: 500;
	/*box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),*/
	/*	0 1px 8px 0 rgba(0, 0, 0, 0.12);*/
}
