.subcategoryContent {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 20px 20px 40px 20px;
}

.actions {
	/* display: flex;
	align-items: center;
	justify-content: space-between; */
}
.mainWrapper {
	padding: 10px;
	margin-top: 10px;
	background: #fff;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.topControls {
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	/* padding: 0 27px; */
}
.IEbtn {
	font-size: 14px;
	font-weight: 500;
	min-width: 180px;
	height: 36px;
	border-width: 1;
	margin: 0 10px 0 0;
	padding: 0;
}


.productsCount {
	text-align: right;
	margin-top: 20px;
	margin-right: 50px;
	margin-left: auto;
	font-size: 15px;
	font-weight: 500;
}


.subcategoryTable {
	/* margin-left: 25px;
	margin-right: 25px; */
	margin-top: 35px;
}

.emptyTable {
	margin-left: 50%;
	margin-top: 200px;
	transform: translateX(-25%);
	color: rgb(174, 178, 179);
	font-size: 50px;
}
