.title {
	color: #4a4a4a;

	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 34px;
}
.balanceInfo {
	padding: 30px 25px;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	background: #fff;

}
.balanceInfo h5 {
	color: #4a4a4a;

	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	margin-bottom: 8px;
	margin-right: 10px;
}
.balanceInfo > div {
	padding: 0;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* padding: 0 30px; */
	/* margin-right: 39px; */
}
.balanceInfo > div:not(:first-of-type) {
	padding-left: 20px;
	border-left: 1px solid #e2e2e2;
}

.balanceInfo span {

	font-size: 20px;
	font-weight: 500;
	/* line-height: 35px; */
}
.balanceInfo > div:last-of-type > span {
	font-size: 24px;
}

.balance__income {
	color: #4a90e2;
}
.balance__outgo {
	color: #f19300;
}
.balance__total {
	color: #000000;
}
.balance__grey {
	color: #a1a1a1;
}
.balance__available {
	color: #019d45;
}

.withdraw
{
	height: 40px;
	width: 145px;
	border-radius: 5px;
	background-color: #4a90e2;
	color: #ffffff;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin-right: 15px;
}

.transactionHistory {
	background: #ffffff;
	margin-bottom: 27px;
	padding: 24px;
	border: 1px solid #ececec;
	border-top: none;
}

.orderType {
	height: 31px;
	width: 168px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
}
.orderNumber {
	height: 31px;
	width: 147px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
	padding-left: 20px;
}

.orderDate {
	height: 31px;
	width: 31px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
}

.bill {
	display: flex;
	background: #fff;
	align-items: flex-end;
	padding: 20px 24px 55px 24px;
	margin-bottom: 24px;
	border: 1px solid #ececec;
	border-top: none;
}
.bill input[type='date'] {
	height: 31px;
	width: 112px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
	color: #e2e2e2;

	font-size: 16px;
	line-height: 18px;
	padding-left: 10px;
	margin-right: 25px;
}
.bill select {
	height: 31px;
	width: 130px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
	margin-right: 19px;
}
.accountNumber {
	height: 31px;
	width: 184px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
	padding-left: 20px;
	margin-right: 19px;
}
.orderPrice {
	height: 31px;
	width: 112px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
	padding-left: 20px;
	margin-right: 25px;
}
.find {
	height: 40px;
	width: 169px;
	border-radius: 5px;
	background-color: #4a90e2;
	color: #ffffff;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	display: block;
}
.invoiceForPayment {
	background: #fff;
	padding: 24px;
}

.icons {
	width: 18px;
	height: 18px;
	display: flex;
	margin: auto;
}
.icons_download,
.icons_upload {
	position: absolute;
	color: #4a90e2;
	font-size: 18px;
	transition: all ease 0.3s;
}
.icons_upload {
	right: 0;
}
.empty {
	height: 31px;
}
.balanceActions {
	display: flex;
}

/* ===== New styles ===== */
.flex {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
