* {
	outline: none;
}

.mainInfo {
	background: #000;
}

.mainInfo form {
	background: #fff;
}
.mainWrapper {
	padding: 10px;
}

.mainInfo form label,
.shopsaccaunts label {
	color: #4a4a4a;

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	display: block;
	/* margin-bottom: 10px; */
}

.formInputs {
	width: 50%;
	margin-right: 68.5px;
}
.shopsaccaunts h3 {
	text-decoration: underline;
	margin-bottom: 20px;
}
.shopsaccaunts {
	width: 45%;
}
.shopAccountWr {
	display: flex;
	justify-content: space-between;
}
.referralProgram {
	height: 100%;
}
form.userMainInfo {
	display: flex;

	padding: 20px;
}
@media only screen and (max-width: 1050px) {
	form.userMainInfo {
		flex-wrap: wrap;
	}
	.copyLink {
		display: flex;
		flex-direction: column;
	}
	.referralProgram h5 {
		margin-bottom: 10px;
	}
	.copyLink input {
		display: block;
		width: 100% !important;
		margin-bottom: 10px !important;
	}

	.formInputs {
		width: 100%;
		margin: 0 0 20px 0 !important;
	}
}
@media only screen and (max-width: 1050px) {
	.ChangeAvatar {
		flex-wrap: wrap;
		text-align: center;
		align-items: center;
		justify-content: center;
	}
	.userAvatar {
		margin-bottom: 20px;
	}
}

form input[type='number'],
form input[type='text'],
form input[type='password'],
form input[type='email'],
form input[type='tel'],
.shopsaccaunts input {
	height: 41px;
	width: 100%;
	border: 1px solid #ececec;
	border-radius: 3px;
	background: #fff;
	padding-left: 20px;
	margin-bottom: 17.5px;
}

.userInfo {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
}

.ChangeAvatar {
	display: flex;
	margin-bottom: 53px;
}

.userAvatar {
	height: 200px;
	width: 200px;
	margin-right: 29px;
	position: relative;
}

.userAvatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.ChangeAvatar h3 {
	color: #4a4a4a;

	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	margin-bottom: 30px;
}

.userAvatarInfo {
	width: 261px;
}

.btnPrimary,
.save {
	margin-top: 60px;
	width: 261px;
}

.EmailNotifications {
	margin-bottom: 33px;
}

.EmailNotifications .ant-checkbox-group,
.smsNotifications .ant-checkbox-group {
	display: flex;
	flex-direction: column;
}

.EmailNotifications h3 {
	color: #4a4a4a;

	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}

.EmailNotifications input[type='checkbox'],
.smsNotifications input[type='checkbox'] {
	margin-right: 19px;
}

.EmailNotifications label,
.smsNotifications label {
	color: #969696 !important;

	font-size: 16px;
	/*line-height: 18px;*/
}

.smsNotifications h3 {
	color: #4a4a4a;

	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
}

.smsNotifications .number {
	color: #969696;

	font-size: 18px;
	line-height: 21px;
	margin-bottom: 17px;
	display: block;
}

.smsNotifications {
	margin-bottom: 37px;
}

.save {
	margin: auto 0 0 auto;
	display: block;
}

.referralProgram {
	padding: 20px;
	background: #fff;
}

.referralProgram h5 {
	color: #4a4a4a;

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
}

.copyLink {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 35px 0;
}

.copyLink input {
	height: 41px;
	width: 532px;
	border: 1px solid #ececec;
	border-radius: 3px;
	background-color: #ffffff;
	padding-left: 20px;
	margin: 0 20px 0 0;
}

.ant-table table {
	text-align: center !important;
}

.loginFormButton {
	height: 40px;
	width: 300px;
	border-radius: 5px;
	background-color: #4a90e2;
	color: #ffffff;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin-top: 20px;
}

.uploadBtn {
	width: 40px;
	height: 30px;
	background: #000;
	opacity: 0.4;
	color: #ffffff;
	font-size: 16px;
	z-index: 100;
	border: none;
	border-radius: 0 12px 0 0;
	position: absolute;
	bottom: 0;
	left: 0;
}
.uploadBtn:hover {
	zoom: 1;
	opacity: 0.7;
}
