.title {
	color: #4a4a4a;

	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
}

.search {
	display: flex;
	padding-top: 20px;
	width: 100%;
	position: relative;
}
.kb_wrapper {
	padding: 20px;
}
input[type='search'] {
	height: 46px;
	width: 100%;
	padding-left: 20px;
	border: 1px solid #ececec;
	border-radius: 5px;
	background-color: #ffffff;
	margin-bottom: 25px;
	/*position: inherit;*/
}
input[type='submit'] {
	position: unset !important;
	height: 45px;
	width: 45px;
	border-radius: 5px;
	background-color: #4a90e2;
	background-image: url('../../../img/search.svg');
	background-repeat: no-repeat;
	background-position: center center;
}
