* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

h3 {
    color: #434343;
    font-family: Montserrat;
    font-size: 65px;
    letter-spacing: 1px;
    line-height: 79px;
    font-weight: 500;
}

.container  {
    /* width: 1200px; */
    margin: 0 auto;
}

/*header {*/
/*    height: 80px;*/
/*    width: 100%;*/
/*    background-color: #fff;*/
/*    box-shadow: 0 2px 18px 0 rgba(0,0,0,0.18);*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*}*/
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    color: #434343;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 30px;
}
.logo img {
    margin-right: 18px;
}

.tel {
    color: #434343;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.45px;
    line-height: 32px;
    text-align: center;
    margin-right: 50px;
}
.regBtn {
    color: #4A90E2;

    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    margin: 0 0 0 30px;
}
.btn {
    height: 60px;
    width: 262px;
    background-color: #4A90E2;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}
.btn:hover {
    color: #fff;
    background-color: #3864a4;
}
.left {
    width: 50%;
    padding-top: 153px;
}
.home {
    padding-bottom: 100px;
    overflow: hidden;
    background: #fff;
}
.home .container {
    display: flex;
}
.home h3 {
    margin-bottom: 20px;
}
.home  p {
    color: #434343;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.45px;
    line-height: 32px;
    margin-bottom: 134px;
}
.home  .btn {
    margin-left: auto;
}


.macbook {
    padding-top: 100px;
    height: 489px;
    width: 500px;
}

/* benefits */

.benefits {
    padding-top: 73px;
    height: auto;
    width: 100%;
    background-color: #F2F4F7;
    overflow: hidden;
    padding-bottom: 70px;
}
.benefits  .container {
    display: flex;
    justify-content: space-between;
}
.benefitslist {
    width: 60%;
}
.benefitslist div {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}
.benefitslist ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.benefitslist ul li {
    color: #2F363B;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 20px;
    position: relative;
    margin-bottom: 48px;
}
.benefitslist ul li:before {
    position: absolute;
    left: -35px;
    content: " ";
    height: 27px;
    width: 27px;
    background: url(../../img/point.svg) no-repeat center center;
    background-size: cover;
}
.benefitslist  .btn {
    margin-left: auto;
    margin-right: 60px;
}
.benefitsimg {
    width: 40%;
}

/* saving-time */

.savingtime {
    padding-bottom: 94px;
    overflow: hidden;
    background-color: #fff;
}
.savingtime .container {
    display: flex;
    justify-content: space-between;
}
.savingtime h3 {
    margin-top: 94px;
    margin-bottom: 69px;
}
.savingtime ul {
    padding-left: 25px;
    margin-bottom: 96px;
}
.savingtime ul li {
    color: #2F363B;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin-bottom: 25px;
    position: relative;
}
.savingtime ul li:before {
    position: absolute;
    left: -35px;
    content: " ";
    height: 27px;
    width: 27px;
    background: url(../../img/point.svg) no-repeat center center;
    background-size: cover;
}
.features {
    width: 55%;
}

.timeimg {
    padding-top: 193px;
    width: 45%;
}
.savingtime  .btn {
    margin-left: 200px;
}

/* projects */
.about {
    padding-top: 69px;
    height: auto;
    width: 100%;
    background-color: #F2F4F7;
    padding-bottom: 55px;
}
.about .container .aboutinfo {
    display: flex;
}

.about p {
    color: #434343;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.45px;
    line-height: 32px;
    margin-bottom: 35px;
}
.about p:last-child {
    margin-bottom: 0;
}
.abouttext {
    padding-top: 67px;
    margin-right: 130px;
}
.abouttext img {
    margin-right: 25px;
}

.rozetka {
    display: flex;
    align-items: center;
}

.consultation {
    height: 473px;
    width: 560px;
    border: 2px solid #4A90E2;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 36px 0 #E1E5EB;
    padding: 35px 50px 42px 50px;
}
.consultation h5 {
    color: #434343;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.45px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 44px;
}
.consultation input[type=text],
.consultation input[type=tel] {
    height: 75px;
    width: 100%;
    border: 1px solid #4A90E2;
    background-color: rgba(216,216,216,0.39);
    margin-bottom: 39px;
    padding-left: 33px;
    color: #434343;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.45px;
    line-height: 32px;
}
.consultation .btn {
    margin: 0 auto;
}


/* description  */
.description {
    /*!*padding-top: 79px;*/
    height: auto;
    padding-bottom: 150px;
    background: #fff;
}
.description .container {
    padding-top: 79px;
    height: 699px;
    display: flex;
    flex-wrap: wrap;
}
.description  h3 {
    margin-bottom: 51px;
}
.founder {
    width: 60%;
    height: 100%
}
.descriptiontext {
    /*margin-bottom: 75px;*/
    height: 100%
}
.descriptiontext ul {
    height: 256px;
    width: 80%;
    color: #434343;
    font-family: Montserrat;
    font-size: 16px;
    letter-spacing: 0.45px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 75px;
}
.description .btn {
    margin-left: auto;
    margin-right: 100px;
}
.man {
    width: 40%;
    height: auto;
    display: flex;
    align-items: flex-end;
}

.man img {
    width: 100%;
}


/* How it works*/

.howItWorks {
    width: 100%;
    background: #fff;
    padding-top: 54px;
    padding-bottom: 102px;
}
.howItWorks h3 {
    text-align: center;
    margin-bottom: 85px;
}

.scheme {
    height: 376px;
    width: 735px;
    margin: 0 auto;
}
.scheme img {
    width: 100%;
}


/* Integration */

.integration {
    padding-top: 65px;
    width: 100%;
    background-color: #F2F4F7;
    padding-bottom: 133px;
}
.integration h3 {
    color: #434343;
    font-family: Montserrat;
    font-size: 65px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 62px;
}
.integrationBlock {
    /*width: 896px;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.integrationItem {
    height: 83px;
    /*width: 397px;*/
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.integrationItem:hover {
    box-shadow: 8px -5px 9px 0 rgba(0,0,0,0.1);
}
.integrationItem span {
    color: #2F363B;
    /*font-family: Montserrat;*/
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 20px;
    display: block;
}
.viber {
    height: 36.15px;
    width: 80px;
    margin-left: 18px;
    margin-right: 29px;
}
.rozetka {
    height: 44.79px;
    width: 47.1px;
    margin-left: 26px;
    margin-right: 53px;
}
.prom {
    margin-right: 24px;
    margin-left: 18px;
}
.poshta {
    height: 31.62px;
    width: 90px;
    margin-left: 17px;
    margin-right: 20px;
}
.sms {
    height: 47px;
    width: 54px;
    margin-left: 30px;
    margin-right: 43px;
}
.arroba {
    height: 50px;
    width: 50px;
    margin-left: 32px;
    margin-right: 46px;
}
.rozetka img,
.viber img,
.poshta img,
.sms img ,
.arroba img {
    width: 100%;
}


/* Creation store*/

.creation {
    padding-top: 44px;
    background: #fff;
    overflow: hidden;
}
.creationBox {
    display: flex;
    justify-content: space-between;
}
.creation h3 {
    color: #434343;
    font-family: Montserrat;
    font-size: 65px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 31px;
}
.creation h6 {
    color: #434343;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.45px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 30px;
}

.creationImg {
    height: 491px;
    width: 801px;
    margin-right: -40px;
}
.creationImg img {
    width: 100%;
}
.creationList {
    padding-top: 20px;
}
.creationList li {
    color: #2F363B;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin-bottom: 35px;
    position: relative;
    margin-left: 27px;
}
.creationList li:before {
    position: absolute;
    left: -35px;
    top: -4px;
    content: " ";
    height: 30px;
    width: 30px;
    background: url(../../img/point.svg) no-repeat center center;
    background-size: cover;

}

/*Management */
.management {
    padding-top: 71px;
    background-color: #F2F4F7;
}
.management h3 {
    color: #434343;
    font-family: Montserrat;
    font-size: 65px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 79px;
}
.managementWrap {
    display: flex;
}

.manImg {
    height: 491px;
    width: 801px;
    margin-right: -40px;
}
.manImg img {
    width: 100%;
    object-fit: cover;
}


/*finance*/

.finance {
    padding-top: 62px;
    background: #fff;
    padding-bottom: 96px;
}
.financeWrap {
    display: flex;
    justify-content: space-between;
}
.financeImg {
    height: 440px;
    width: 595px;
}
.financeImg img {
    width: 100%;
}
.finance h5 {
    color: #434343;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.45px;
    line-height: 32px;
}

.financeList li {
    color: #2F363B;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin-bottom: 35px;
    position: relative;
    margin-left: 27px;
}
.financeList li:before {
    position: absolute;
    left: -35px;
    top: -4px;
    content: " ";
    height: 30px;
    width: 30px;
    background: url(../../img/point.svg) no-repeat center center;
    background-size: cover;

}


/*Services*/

.services {
    padding-top: 52px;
    padding-bottom: 90px;
    background-color: #F2F4F7;
}
.services h3 {
    color: #434343;
    font-family: Montserrat;
    font-size: 65px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 65px;
    margin-bottom: 80px;
    text-align: center;
}
.servicesWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.servicesList {
    width: 286px;
    margin-right: 240px;
    margin-left: 70px;
}
.servicesList li {
    color: #2F363B;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin-bottom: 79px;
    position: relative;
    display: flex;
    align-items: center;
}
.servicesList  li.call:before {
    position: absolute;
    left: -65px;
    /*top: -4px;*/
    content: " ";
    height: 50px;
    width: 50px;
    background-color: #4A90E2;
    background-image: url(../../img/call.svg);
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.26);
    border-radius: 50%;
}
.servicesList  li.process:before {
    position: absolute;
    left: -65px;
    /*top: -4px;*/
    content: " ";
    height: 50px;
    width: 50px;
    background-color: #4A90E2;
    background-image: url(../../img/process.svg);
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.26);
    border-radius: 50%;
}
.servicesList  li.support:before {
    position: absolute;
    left: -65px;
    /*top: -4px;*/
    content: " ";
    height: 50px;
    width: 50px;
    background-color: #4A90E2;
    background-image: url(../../img/support.svg);
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.26);
    border-radius: 50%;
}

.servicesListBlock .btn {
    margin-left: 100px;
}

.servicesImg {
    height: 416px;
    width: 509px;
}
.servicesImg {
    width: 100%;
}

/* Learning */
.learning {
    padding-top: 81px;
    background: #fff;
    overflow: hidden;
}
.learning h3 {
    color: #434343;
    font-family: Montserrat;
    font-size: 65px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 62px;
}
.learningList {
    padding-top: 10px;
}
.learningList li {
    color: #2F363B;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 20px;
    margin-bottom: 35px;
    position: relative;
    margin-left: 27px;
}
.learningList li:before {
    position: absolute;
    left: -35px;
    top: -4px;
    content: " ";
    height: 30px;
    width: 30px;
    background: url(../../img/point.svg) no-repeat center center;
    background-size: cover;

}
.learningWrap {
    display: flex;
    justify-content: space-between;
}
.learningImg {
    height: 510px;
    width: 801px;
}
.learningImg img {
    width: 100%;
    object-fit: cover;
}

/*Additional Services*/
.additionalServices {
    padding-top: 44px;
    background-color: #F2F4F7;
}
.additionalServices h3 {
    color: #434343;
    font-family: Montserrat;
    font-size: 65px;
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 65px;
    text-align: center;
    margin-bottom: 35px;
}
.additionalServices h5 {
    color: #434343;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.45px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 62px;
}

.additionalImg {
    width: 801px;
    height: 460px;
    margin-right: -50px;
}
.additionalImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.additionalBox {
    display: flex;
}

/*Footer*/

footer {
    height: auto;
    width: 100%;
    padding-top: 75px;
    background-color: #404040;
    padding-bottom: 110px;
}

.footerLogo {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 30px;
    display: flex;
    align-items: center;
}
.footerLogo img {
    margin-right: 21px;
}
.footerTop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 80px;
}
.footerTop p {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.45px;
    line-height: 32px;
    text-align: right;
}
.footerBottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footerBottom span {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 18px;
    letter-spacing: 0.31px;
    line-height: 22px;
}
.footerContacts a {
    color:#fff;
}

/*MEdia*/

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
    .home {
        padding: 20px;
        padding-bottom: 50px;
    }
    .benefits {
        padding: 20px 40px;
    }
    .savingtime {
        padding: 20px;
    }
    .savingtime h3 {
        margin-top: 50px;
    }
    .timeimg {
        padding-top: 150px;
    }
    .about {
        padding: 20px 20px 60px 20px;
    }
    .description {
        padding: 20px 20px 100px 20px;
    }
    .creation,
    .management,
    .services,
    .finance,
    .learning ,
    .additionalServices {
        padding: 20px;
    }
    .creationImg,
    .manImg,
    .financeImg,
    .servicesImg,
    .additionalImg {
        width: 55%;
        height: auto;
    }
    .creationImg img,
    .manImg img,
    .financeImg img,
    .servicesImg img,
    .additionalImg img ,
    .benefitsimg img {
        width: 100%;
    }

    .benefitsimg {
        width: 40%;
    }
    .servicesList {
        margin-right: 200px;
    }
    .additionalBox {
        justify-content: space-around;
    }
    .benefitsimg {
        display: flex;
        align-items: center;
    }
    .benefitslist div {
        padding-top: 20px;
    }
    footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 768px) {
    h3 {
        font-size: 50px;
        line-height: 60px;
    }
    .logo {
        margin: 5px auto;
        font-size: 20px;
    }
    .logo img {
       width: 30px;
    }
    .tel {
        font-size: 15px;
        display: block;
        width: 100%;
    }
    .videoblock {
        padding: 20px;
    }
    .integration {
        padding: 20px;
    }
    .integration h3,
    .learning h3 {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 30px;
    }
    .integrationBlock {
        width: 100%;
    }
    .integrationItem {
        margin: 10px auto;
        width: 49%;
    }
    .integrationItem span {
        font-size: 12px;
    }
    .creationBox {
        display: flex;
        align-items: center;
    }
    .creationList {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .managementWrap,
    .financeWrap,
    .servicesWrap,
    .additionalBox {
        display: flex;
        flex-direction: row;
    }
    .manImg {
        width: 50%;
    }
    .video {
        width: 100%;
    }
    .savingtime {
        padding: 20px;
    }
    .savingtime .container {
        flex-wrap: wrap;
    }
    .timeimg {
        padding-top: 160px;
    }
    .timeimg img {
        width: 100%;
    }
    .savingtime {
        padding-bottom: 50px;
    }

    .savingtime ul {
        width: 100%;
        margin-bottom: 55px;
    }
    .savingtime h3 {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .benefits {
        padding: 20px;
    }
    .benefitslist div {
        padding-top: 40px;
    }
    .benefitslist ul li {
        letter-spacing: 0;
        font-size: 14px;
        font-weight: 500;
    }
    .benefitsimg img {
        width: 100%;
    }
    .benefits {
        height: auto;
    }
    .benefitslist {
        width: 85%;
        margin: 0 auto;
        justify-content: center;
    }
    .benefitslist div {
        padding-top: 20px;
    }


    .benefits .container {
        flex-wrap: wrap;
    }
    .about {
        padding: 20px;
    }
    .abouttext {
        width: 46%;
        margin-right: 0;
        padding-top: 40px;
    }
    .consultation {
        width: 50%;
        height: 100%;
    }
    .consultation h5 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .consultation input[type=text],
    .consultation input[type=tel] {
        height: 50px;
        padding-left: 10px;
        font-size: 19px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    .consultation .btn {
        margin: 0 auto;
        height: 50px;
        width: 100%;
    }
    .about p {
        font-size: 20px;
        line-height: 25px;
    }
    .macbook {
        width: 50%;
        height: auto;
        padding-top: 85px;
    }
    .left {
        padding-top: 40px;
    }

    .macbook img {
        width: 100%;
    }

    .home p {
        margin-bottom: 50px;
    }
    .description {
        padding: 20px;
        padding-bottom: 80px;
    }
    .description .container {
        padding-top: 0;
    }
    .creation h3,
    .management h3{
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 20px;
    }
    .creation h6 {
        font-size: 20px;
    }
    .creationImg {
        width: 50%;
    }
    .btn {
        margin: 0 auto;
    }
    .servicesWrap {
        justify-content: center;
    }
    .learningImg {
        width: 50%;
        height: auto;
    }
    .learningImg img {
        width: 100%;
    }
    .additionalServices h3 {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 30px;
    }
    .additionalServices h5 {
        margin-bottom: 20px;
        font-size: 20px;
    }
    .servicesList {
        margin-right: 20px;
    }
    .financeList li {
        margin-bottom: 20px;
    }
    .services h3 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 30px;
    }
    .manImg,
    .additionalImg {
        margin-right: 20px;
    }
    .creationList li {
        margin-bottom: 20px;
    }
    .additionalImg {
        width: 50%;
    }
    .benefitslist ul li {
        margin-bottom: 10px;
    }
    .descriptiontext ul {
        font-size: 13px;
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 480px) {
    h3 {
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
    .logo {
        font-size: 15px;
        margin: 0 auto;
    }
    .logo img {
       width: 25px;
    }
    .tel {
        font-size: 15px;
    }
    .regBtn {
        display: block;
        width: 100%;
        margin: 15px 0;
    }

    .headerRight {
        width: 100%;
        text-align: center;
    }
    .regBtn {
        margin-right: 25px;
    }
    .tel {
        margin-right: 0;
        display: block;
        width: 100%;
        text-align: center;
    }
    .features {
        width: 100%;
    }

    .description .container {
        height: auto;
    }
    .man img {
        width: 100%;
    }
    .btn {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .descriptiontext {
        width: 100%;
    }
    .descriptiontext ul {
        width: 100%;
        height: 100%;
    }
    .description .btn {
        margin: 0 auto;
    }
    .left {
        width: 100%;
        padding-top: 20px;
    }
    .home .container {
        flex-wrap: wrap;
    }
    .macbook {
        width: 100%;
        height: auto;
    }
    .macbook img {
        width: 100%;
    }
    .home p {
        margin-bottom: 20px;
        text-align: center;
        font-size: 16px;
    }
    .benefits {
        height: auto;
    }
    .benefitslist {
        width: 85%;
        margin: 0 auto;
        justify-content: center;
    }
    .benefitslist div {
        padding-top: 20px;
    }
    .benefitslist .btn {
        margin-bottom: 40px;
        width: 100%;
    }
    .benefitslist ul:last-child {
        margin-bottom: 20px;
    }
    .benefitslist ul li {
        margin-bottom: 10px;
    }
    .benefits .container {
        flex-wrap: wrap;
    }
    .benefitsimg {
        width: 100%;
    }
    .benefitsimg img {
        width: 100%;
    }
    .list {
        flex-wrap: wrap;
        /*justify-content: center;*/
    }
    .timeimg {
        width: 100%;
        padding-top: 40px;
    }
    .timeimg img {
        width: 100%;
    }
    .savingtime {
        padding-bottom: 50px;
    }
    .savingtime ul {
        width: 85%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .savingtime  .btn {
        margin: 0 auto;
    }
    .savingtime h3 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .aboutinfo {
        flex-wrap: wrap;
    }
    .consultation {
        width: 100%;
        height: auto;
    }
    .consultation h5 {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 25px;
    }
    .consultation input[type=text],
    .consultation input[type=tel] {
        height: 50px;
        padding-left: 10px;
        font-size: 19px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    .consultation .btn {
        margin: 0 auto;
        height: 50px;
        width: 100%;
    }
    .about {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .about p {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
    }

    .abouttext {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .abouttext div {
        margin-bottom: 30px;
    }
    .founder {
        width: 100%;
        padding: 20px;
    }
    .man {
        width: 100%;
    }
    .man img {
        width: 100%;
    }
    .description {
        padding-bottom: 0;
    }
    .description .container {
        padding-top: 10px;
    }
    .description h3 {
        margin-bottom: 20px;
    }
    .descriptiontext ul {
        margin-bottom: 30px;
        font-size: 14px;
    }
    .videoblock {
        height: auto;
    }
    .videoblock h3 {
        margin-bottom: 30px;
    }
    .macbook {
        padding-top: 30px;
    }
    .scheme {
        width: 100%;
        height: auto;
    }
    .scheme img {
        width: 100%;
    }
    .howItWorks {
        padding: 20px;
    }
    .howItWorks h3 {
        margin-bottom: 30px;
    }
    .integration {
        padding: 20px;
    }
    .integration h3 {
        font-size: 30px;
        margin-bottom: 30px;
        line-height: 40px;
    }
    .integrationBlock {
        width: 100%;
    }
    .integrationItem span {
        font-size: 12px;
    }
    .creation h3 ,
    .management h3,
    .services h3 ,
    .learning h3,
    .additionalServices h3 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .additionalServices h5{
        font-size: 20px;
    }
    .creation,
    .management,
    .services,
    .finance ,
    .services,
    .learning,
    .additionalServices {
        padding: 20px;
    }
    .creationBox ,
    .financeWrap ,
    .additionalBox {
        flex-wrap: wrap;
    }
    .creationImg,
    .manImg ,
    .financeImg,
    .servicesImg,
    .learningImg,
    .additionalImg {
        width: 100%;
        height: auto;
    }
    .creationImg img,
    .manImg img,
    .financeImg img,
    .servicesImg img,
    .learningImg img,
    .additionalImg img{
        width: 100%;
    }
    .managementWrap ,
    .servicesWrap ,
    .learningWrap {
        flex-wrap: wrap;
    }
    .footerTop p {
        font-size: 20px;
    }
    .footerTop ,
    .footerBottom {
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .footerBottom {
        margin-bottom: 10px;
    }
    .footerBottom span {
        text-align: center;
    }
    .creationList {
        width: 100%;
    }
    .integrationItem {
        width: 100%;
        margin-bottom: 10px;
    }
    footer {
        padding-top: 25px;
        padding-bottom: 50px;
    }
    .footerContacts a {
        color:#fff;
    }
    .servicesList {
        width: 50%;
        margin: 0 auto;
    }

    .servicesList li:last-child {
        margin-bottom: 40px;
    }
    .servicesListBlock .btn {
        margin: 0 auto;
        margin-bottom: 30px;
    }

}
