.title {
    color: #4A4A4A;

    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 27px;
}

.cartForm {
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 26px 29px;
}
.cartForm label {
    color: #4A4A4A;

    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 10px;
    display: block;
}
.cartForm textarea {
    height: 120px;
    width: 100%;
    border: 1px solid #ECECEC;
    border-radius: 3px;
    background-color: #FFFFFF;
    resize: none;
    padding: 20px;
    margin-bottom: 26px;
}

.productImg {
    height: 57px;
    width: 57px;
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
    margin-right: 12.5px;
}
.productImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.productItemName {
    display: flex;
    align-items: center;
}

table .ant-table-thead > tr > th {
    background: red !important;
}

.productTable {
    margin-bottom: 40px;
}

.cartForm .save {
    height: 40px;
    width: 261px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;

    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-left: auto;
    display: block;
}










