.title {
	color: #4a4a4a;

	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
}
.mainWrapper {
	padding: 10px;
}
.searchOrders {
	width: 100%;
	background: #fff;
	padding: 24px 0;
	display: flex;
	/*align-items: flex-end;*/
	flex-wrap: wrap;
	/*border: 1px solid #ECECEC;*/
	/*border-top: none;*/
	margin-bottom: 24px;
}

.searchOrders label {
	color: #4a4a4a;

	font-size: 13px;
	font-weight: 500;
	line-height: 19px;
	margin-bottom: 9px;
	white-space: nowrap;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

.searchOrders .orderNumber,
.searchOrders .orderStatus,
.searchOrders .name {
	margin-right: 19px;
}

.searchOrders .orderNumber {
	width: 22%;
}

.searchOrders .orderNumber input {
	height: 31px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
}

.searchOrders .orderDate input {
	height: 31px;
	/* width: 112px; */
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
	padding-left: 10px;
	margin-right: 24px;
}

.searchOrders .orderStatus select {
	height: 31px;
	width: 130px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
	display: block;
}

.searchOrders .name input {
	height: 31px;
	width: 138px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
}

.searchOrders .phone input {
	height: 31px;
	width: 162px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
}

.searchOrders .find {
	height: 40px;
	width: 169px;
	border-radius: 5px;
	background-color: #4a90e2;
	color: #ffffff;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	display: block;
	margin-top: 20px;
	margin-left: auto;
}

.orderDescription {
	display: flex;
}

.product {
	width: 70%;
	border-right: 1px solid #e2e2e2;
}

.orderStatusInTable {
	display: flex;
	justify-content: space-between;
}
.orderStatusInTable .editBtn {

	margin-left: 10px;
	color: #323232;
	cursor: pointer;

	transition: 0.2s ease-in-out;
}
.orderStatusInTable i {
	font-size: 21px;
}
.orderStatusInTable .editBtn:hover {
	border-bottom: 1px solid black;
	transition: 0.2s ease-in-out;
}
.actions {
	width: 30%;
	min-width: max-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	margin: 8px;
}

.productItem {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px 10px;
	border-bottom: 1px solid #e2e2e2;
}
.productItem > div,
.productItem img {
	margin-bottom: 10px;
}
.productPrice {
	margin-left: 5px;
	/*margin: 0 0 0 auto;*/
}
.name {
	display: flex;
	align-items: center;
}
.delivery {
	display: flex;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #e2e2e2;
}

.total {
	display: flex;
	padding: 20px 0;
}

.delivery span,
.total span {
	margin-left: 8px;
}
@media only screen and (max-width: 768px) {
	.orderDescription {
		flex-direction: column;
	}
	.product {
		width: 100%;
		text-align: center;
	}
	.actions {
		width: 100%;
	}
}
