.replenish,
.payBtn {
	height: 40px;
	border-radius: 5px;
	background-color: #4a90e2;
	color: #ffffff;

	font-size: 15px;
	font-weight: 500;
	line-height: 22px;
}
.replenish {
	width: 145px;
	margin-right: 15px;
}
.payBtn {
	width: 270px;
	margin-top: 49px;
	margin-left: 358px;
}
.payActions {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.modalContent {
	margin-bottom: 59px;
}
.modalContent p {
	color: #9b9b9b;

	font-size: 16px;
	line-height: 23px;
}
.tabFlex {
	padding-top: 15px;
	display: flex;
	justify-content: space-between;
}
.buyPackage {
}
.inputGroup {
	width: 270px;
    margin-bottom: 10px;
}
.inputGroup label {
	color: #323232;
	font-weight: 500;
}
.inputGroup span {
	font-size: 13px;
	color: #979797;
}
@media only screen and (max-width: 640px) {
	.tabFlex {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
    .inputGroup {
        width: 100%;
    }
}
