.wrapper {
	position: relative;
	overflow: auto;
}
.mainBackground {
	opacity: 0;
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
	background: rgba(0, 0, 0, 0.65);
	transition: opacity 0.3s ease-in-out;
	cursor: default;
}
.mainBackground.visible {
	z-index: 2;
	opacity: 1;
	display: initial;
}
.mybtn {
	margin-top: 20px;
}
.main {
	color: rgba(0, 0, 0, 0.65);
	background: #ffffff;
	margin-right: 3px;
	padding: 4px 16px 4px 16px;
	border-bottom: 1px solid #efefef;
	position: relative;
	z-index: 2;
	transition: all 0.3s;
}
.main:hover {
	color: #1890ff;
}
.arrow {
	width: 10px;
}
.main .arrow::after {
	content: '';
	background-image: url(../../../img/svg/next.svg);
	height: 10px;
	width: 10px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	fill: green;
}
.main:hover .arrow::after {
	color: #1890ff;
	fill: red;
}
.category {
	text-overflow: ellipsis;
}
