.firstLevel {
	position: fixed;

	display: flex;
	flex-direction: column;
	/* overflow-y: scroll;
  overflow-x: hidden; */
	left: 223px;
	width: 350px;
	top: 145px;
	background: #fff;
	z-index: -2;
	border-radius: 5px 0 0 5px;
	transform: translateY(-20px);
	opacity: 0;
	transform-origin: left;
	transition: 0.3s ease-in-out;
}
@media screen and (max-width: 1300px) {
	.firstLevel {
		left: 90px;
	}
}
.firstLevel.visible {
	z-index: 1002;
	transform: translateY(0);
	opacity: 1;
}
.firstLevel_item {
	color: #686868;
	padding: 6px 16px 6px 8px;
	border-bottom: 1px solid #efefef;
	position: relative;
	margin-right: 10px;
	/* text-overflow: ellipsis; */
}
.item:hover {
	color: #1890ff;
}

.link {
	display: block;
	position: absolute;
	margin-left: 28px;
	margin-top: 7px;
	width: 300px;
	color: black;
	top: 0;
}

.arrow {
	width: 10px;
	/* margin-right: 10px; */
	position: absolute;
	right: 3px;
	top: 50%;
	transform: translateY(-50%);
}

.secondLevel {
	position: absolute;
	left: 100%;
	z-index: 20;
	background: #ffffff;
	width: 220%;
	height: 100%;
	border-radius: 0 5px 5px 0;
	overflow-x: auto;

	padding: 10px 16px;
	cursor: default;

	border-left: #efefef 1px solid;

	display: flex;
	flex-flow: column wrap;
	align-content: flex-start;

	transform-origin: left;
	/* transition: transform 0.3s ease-in-out 0.3s; */
}

.secondLevel.visible {
	min-width: 100%;
	z-index: 1002;
	overflow: auto;
	transform: translateY(0);
}
.secondLevel_item {
	color: #188fffe1;
	line-height: 14px;
	font-size: 16px;
	font-weight: normal;
	text-overflow: ellipsis;
	white-space: initial;

	display: flex;
	flex-direction: column;
	align-content: flex-start;

	margin-bottom: 24px;
	margin-right: 10px;

	width: 200px;
}
.submenuLinks {
	font-size: 14px;
	/* margin-bottom: 15px; */
	text-decoration: underline;
	font-weight: 500;
}

.thirdLevel_item {
	color: black;
	line-height: 15px;
	font-size: 13px;
	white-space: nowrap;

	width: 200px;
	text-overflow: ellipsis;

	overflow: hidden;
}
.thirdLevel_item:hover {
	color: red;
}
.thirdLevel_item:nth-child(2) {
	margin-top: 4px;
}
