.galleryList {
	display: flex;
	margin-bottom: 20px;
	flex-wrap: wrap;
}

.galleryItem {
	width: 98px;
	height: 98px;
	border: 4px solid transparent;
	border-radius: 10%;
	overflow: hidden;
	opacity: 1;
}

.galleryItem img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.overViewBlock {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 3rem;
	font-weight: 400;
	color: lightgray;
}
.overViewBlock p {
	width: 42px;
	cursor: pointer;
}
.overViewBlock__next {
	text-align: end;
	font-size: 3rem;
}
.overViewBlock__img {
	max-width: calc(100% - 74px);
	margin: auto;
}
.closeButton {
	display: none;
	top: 0;
	transform: translate(79px, 64px);
	position: absolute;
	color: red;
}
.addMainImg {
	position: absolute;
	display: none;
	color: #fff;
	top: 42%;
	width: 90px;
	line-height: 1;
	text-align: center;
	border-radius: 5px;
	background-color: #4a90e2;
}
.galleryItem:hover .addMainImg {
	display: block;
	cursor: pointer;
	padding: 3px;
	font-size: small;
	color: #fff;
}
.galleryItem:hover .closeButton {
	display: block;
	cursor: pointer;
}
