.title {
	color: #4a4a4a;

	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
	margin-bottom: 27px;
}
.overlay {

}
.storeManagement label {
	color: #4a4a4a;

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	display: block;
	margin-bottom: 10px;
}
.storeManagement select,
form.storeManagement input[type='text'],
form.storeManagement input[type='tel'] {
	height: 46px;
	width: 532px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
	margin-bottom: 13px;
	padding-left: 22px;
}

.domen {
	display: flex;
	flex-direction: column;
	margin-bottom: 27px;
	width: 400px;
}

.inputsGroup {
	margin-right: 91px;
}
.formTitle {
	color: #4a4a4a;

	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	margin: 10px 0 31px 0;
}
.logoImg {
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ececec;
	margin-right: 27px;
}
.logoImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.headerInfo {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 37px;
}
.logo {
	position: absolute;
	right: 0;
	top: -150px;
	display: flex;
	padding-top: 49px;
}

.logoInfo {
	width: 261px;
}
.logoInfo p {
	color: #9b9b9b;

	font-size: 14px;
	line-height: 20px;
	margin-bottom: 60px;
}
.download {
	margin-top: 20px;
	width: 200px;
}
.radioBtns {
	padding-top: 27px;
}
.radio {
	display: flex;
	/*align-items: center;*/
	margin-bottom: 17px;
}
.radio input[type='radio'] {
	margin-right: 19px;
}
.radio label {
	color: #969696;

	font-size: 16px;
	line-height: 10px;
	display: block;
	font-weight: normal;
}
.footerInfo {
	margin-bottom: 37px;
}

.input {
	position: relative;
	width: 400px;
}
.add {
	height: 16px;
	width: 16px;
	background: #4a90e2;
	line-height: 0;
	border-radius: 50%;
	border: none;
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
}

.aboutUsTab {
	display: flex;
	/* justify-content: space-between; */
	/* padding: 20px; */
}

.textSide {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	width: 70%;
	margin-right: 80px;
}

.choiceDesign {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.choiceDesign label > input {
	visibility: hidden;
	position: absolute;
}
.choiceDesign label > input + img {
	cursor: pointer;
	border: 2px solid transparent;
	width: 250px;
	height: 250px;
	opacity: 0.4;
}
.choiceDesign label > input:checked + img {
	opacity: 0.9;
}
.create {
	width: 216px;
	margin-left: auto;
	/*display: inherit;*/
	margin-top: 20px;
}

.createDiv {
	display: flex;
	flex-direction: column;
}
.updatebtn {
	margin: auto 0 15px auto;
}
.howToBtn {
	margin: 40px 0 15px auto;
}
.mainwrapper {
	display: flex;
	/* justify-content: space-between; */
	/* padding: 20px; */
}
.rightColumn {
	margin-left: 120px;
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
}

.rightColumn button {
	margin-top: auto;
}
.cancelBtn {
	position: absolute;
	font-size: 18px;
	right: 10px;
	top: 34px;
	color: red;
}
.todoContainer {
	position: relative;
}
.successBtn {
	font-size: 25px;
	transition: 0.2s ease-in-out;
	color: green;
	position: absolute;
	top: 38%;

	right: -45px;
	margin: 0 0 25px 30px;
	align-self: flex-end;
}
.successBtn:hover {
	color: #1890ff;
	transition: 0.2s ease-in-out;
}
.textArea {
	/* height: 41px; */
	width: 100%;
	border: 1px solid #ececec;
	border-radius: 3px;
	background: #fff;
	padding: 20px;
	margin-bottom: 17.5px;
}
.magazineImage {
	width: 200px;
	height: 200px;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #8080801c;
}
.magazineImage img {
	width: 100%;
	display: block;
}
.dropzone {
	display: inline;
	margin-bottom: 20px;
}
.magImg {
	width: 216px !important;
}
.wrappeHowTo {
	display: flex;
	/* width:  */
	flex-direction: column;
}
.aboutRight {
	display: flex;
	flex-direction: column;
}
.aboutRight label {
	font-size: 20px;
	font-weight: 500;
}
.aboutRight .updatebtn {
	align-self: flex-end;
}
.defaultimg {
	height: 100%;
}
.defaultIcon {
	/* margin: 0 auto; */
	color: #80808082;
	font-size: 70px;
}
.imageWr {
	position: relative;
	height: 300px;
	display: flex !important;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.1);
	/*margin-right: 20px;*/
}
.imageWr:hover {
	/* filter: contrast(0.9); */
}

.imageList {
	height: 300px;
	/*width: 700px;*/
}
.slidertitle {
	margin-bottom: 15px;
	color: #323232;
}
.deleteImage {
	font-size: 20px;
	color: red;
	position: absolute;
	left: 10px;
	top: 10px;
}
.overlay {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 1;
	transition: 0.2s linear;
}
.imageWr:hover .overlay {
	transition: 0.2s linear;

	/* background: rgba(0, 0, 0, 0.3); */
	opacity: 1;
}
.imageWr:hover .bottomoverlayblock {
	opacity: 1;
	transition: 0.2s linear;
}
.iconStylesSliders {
	font-size: 20px;
	color: red;
	font-weight: 500;
	margin-left: 20px;
}
.bottomoverlayblock {
	padding: 7px 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #4a90e2;
	opacity: 0;
	transition: 0.2s linear;
}
.defaultSliderImages {
	height: 170px;
	width: 180px;
	background: #8080801c;
	display: flex;
	align-items: center;
	justify-content: center;
}
.byurlsliderupload {
	display: flex;
	flex-direction: column;
}
.imageList ~ .byurlsliderupload > input {
	width: 350px;
	margin-top: 20px;
}
.domainUrl {
	font-size: 16px;
	color: black;
	cursor: pointer;
	padding: 5px 31px;
}
.domainUrl:hover {
	color: #4a90e2;
	text-decoration: underline;
}
