.title {
    color: #4A4A4A;

    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 25px;
}

.contactForm {
    height: auto;
    width: 691px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 50px;
    padding: 24px 30px;
}
.contactForm label {
    color: #4A4A4A;

    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 10px;
    display: block;
}
.contactForm input[type=text],
.contactForm input[type=email]{
    height: 46px;
    width: 100%;
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    background-color: #FFFFFF;
}
.contactForm textarea {
    border: 1px solid #D3D3D3;
    border-radius: 3px;
    background-color: #FFFFFF;
    width: 100%;
    height: 100px;
    margin-bottom: 30px;
    padding: 10px 20px;
    resize: none;
}

.send {
    height: 40px;
    width: 261px;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;

    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0 auto;
    display: block;
}
