.Form {
	margin: 40px auto;
	height: 362px;
	width: 691px;
	box-shadow: 0px -1px 3px -2px rgba(0, 0, 0, 0.2),
		0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	background-color: #ffffff;
	padding: 24px 30px;
}

.loginFormButton {
	margin: 0 0 0 auto;
	width: 261px;
}
.title {
	color: #4a4a4a;

	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
	padding-bottom: 25px;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 29px;
}
.Form p {
	color: #9b9b9b;

	font-size: 14px;
	line-height: 20px;
	margin-bottom: 16px;
}
.Form label {
	color: #4a4a4a;

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	margin-bottom: 9.5px;
	display: block;
}

.actions {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 30px;
}
.regBtn {
	margin-bottom: 0;
	width: 210px;
}

.logo {
	display: flex;
	align-items: center;
	color: #434343;
	font-family: Montserrat;
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 30px;
}
.logo img {
	margin: 0 18px 0 0;
}

header {
	display: flex;
	justify-content: space-between;
	border: 1px solid #e2e2e2;
}

/*Media*/

@media screen and (max-width: 768px) {
	.Form {
		width: 90%;
	}
}

@media screen and (max-width: 480px) {
	.Form {
		height: auto;
	}
	.actions {
		margin-top: 0;
		justify-content: center;
	}
	.actions a {
		margin-bottom: 10px;
	}
	.title {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 15px;
		padding-bottom: 15px;
	}
	.logo {
		font-size: 20px;
		margin-right: 10px;
	}
}
