.Form {
	margin: 40px auto;
	height: auto;
	width: 691px;
	box-shadow: 0px -1px 3px -2px rgba(0, 0, 0, 0.2),
		0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	background-color: #ffffff;
	padding: 28px 30px 45px 30px;
}

.loginFormButton {
	margin: 0 0 0 auto !important;
	width: 261px;
}
.Form label {
	color: #4a4a4a;

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	margin-bottom: 9.5px;
	display: block;
}

.selectedRole div {
	width: 100%;
	display: flex !important;
	margin-bottom: 30px;
}
.selectedRole div label {
	width: 50%;
	display: flex !important;
	align-items: center;
	justify-content: center;
}

.title {
	color: #4a4a4a;

	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 25px;
	margin-bottom: 23px;
}

.actions {
	margin-top: 22px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.logo {
	display: flex;
	align-items: center;
	color: #434343;
	font-family: Montserrat;
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 30px;
}
.logo img {
	margin: 0 18px 0 0;
}
.regBtn {
	margin-bottom: 0 !important;
	width: 210px;
}

.confirmBlock {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;


	z-index: 100;

}
.confirmBlock > div {
	padding: 40px 70px;
	border-radius: 10px;
}
.confirmBlock a {
	text-decoration: underline;
}
.confirmBlock h1 {
	font-size: 35px;
	color: #13c964;
}



/*Media*/

@media screen and (max-width: 768px) {
	.Form {
		width: 95%;
	}
}

@media screen and (max-width: 480px) {
	.Form {
		height: auto;
		padding: 20px;
	}
	.actions {
		margin-top: 0;
		justify-content: center;
	}
	.actions a {
		margin-bottom: 10px;
	}
	.loginFormButton {
		margin: 0 auto;
	}
	.title {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 15px;
		padding-bottom: 15px;
	}
	.logo {
		font-size: 20px;
		margin-right: 10px;
	}
}
