* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.userCard {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}

.stars {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 20px;
}
.userBlock {
	/*width: 50%;*/
	height: 100%;
	background: #fff;
	/* border-radius: 10px; */
	padding: 0 20px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(235, 235, 235);
}
.userBlock h3 {
	padding-top: 20px;
	font-weight: 500;
	color: #323232;
	font-size: 17px;
}
/* padding-top: 40px; */

.userNotActive {
	display: flex;
}

.userContacts {
	display: flex;

	/* flex-wrap: wrap; */
	margin-bottom: 40px;
}

.userName {
	color: #4a4a4a;
	font-size: 24px;
	font-weight: 500;
	line-height: 21px;
	margin-bottom: 10px;
	display: inline-block;
}

.userRating {
	display: inline-block;
	margin-bottom: 10px;
	/* margin-left: 25px; */
	z-index: 100;
}
.userInfo {
	width: 65%;
}
.userInfo p {
	color: #4a4a4a;
	/**/
	font-size: 15px;

	font-weight: 500;
	line-height: 21px;
	margin-bottom: 13px;
}

.userInfo .notActivated {
	display: inline-block;
	line-height: 24px;
	height: 26px;
	font-size: 12px;
	color: rgb(121, 121, 121);
	opacity: 1;
	color: #fff;
	background-color: rgb(135, 208, 104);
	cursor: pointer;
	white-space: nowrap;
	padding: 0px 10px;
	border-radius: 4px;
}
.userInfo .notActivated:hover {
	opacity: 0.85;
}
.table {
	width: 100%;
}
.table span {
	overflow: hidden;

	text-overflow: ellipsis;
}
.td {
	border-bottom: 1px solid #ddd;
}
.table .td {
	display: flex;
	align-items: center;
	padding: 7px 0;
}
.table .td > div:first-child {
	font-weight: 500;
	margin-right: 20px;
}

.userInfo p span {
	color: #8f8f8f;

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.editBtn {
	height: 40px;
	width: 461px;
	border-radius: 5px;
	background: #4a90e2;
	color: #ffffff;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 43px;
}

.editBtn:hover {
	color: #fff;
}

.description {
	/*width: 458px;*/
	padding: 20px 0;
}

.description p {
	color: #4a4a4a;

	font-size: 14px;
	line-height: 20px;
}

.chooseTariff {
	margin-top: 40px;
	/* margin: 0 auto; */
	/*padding-bottom: 50px;*/
	/*margin: 0 auto;*/
}
.containerWr {
	/*max-width: 1400px;*/
	padding: 20px 0;
	/*margin: 0 auto;*/
}
.chooseTariff h3 {
	color: #4a4a4a;

	font-size: 22px;
	padding: 0 7%;
	font-weight: 500;
	line-height: 21px;
	margin: 25px 0;
}

.tariffItem {
	/*max-width: 330px;*/
	/*height: 100%;*/
	margin-bottom: 20px;

	border-width: 1px;
	border-style: solid;
	border-color: rgb(235, 235, 235);

	overflow: hidden;
}

.silverTitle,
.goldTitle,
.platinumTitle {
	/*border-radius: 5px;*/
	/*margin-bottom: 20px;*/
	padding: 20px 15px 20px 20px;
	display: flex;
	flex-direction: column;
}
.silverTitle {
	background: #7266ba;
}
.goldTitle {
	background: #42a5f6;
}
.platinumTitle {
	background: #7ed320;
}

.silverTitle h4,
.goldTitle h4,
.platinumTitle h4 {
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	color: #fff;
}
.silverTitle p,
.goldTitle p,
.platinumTitle p {
	font-size: 16px;
	color: #fff;
}
.tariffPrice {
	padding: 20px 20px 20px 40px;
}
.tariffPrice,
.tariffItemBody {
	background: #fff;
}
.tariffPrice .oldPrice {
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	text-decoration-line: line-through;
	color: #969696;
	display: block;
}
.tariffPrice .currentPrice {
	font-style: normal;
	font-weight: 200;
	font-size: 24px;
	line-height: 28px;
	color: #4a92dd;
}
.priceBlock {
	position: relative;
}
.priceBlock:before {
	content: '';
	position: absolute;
	width: 12.57px;
	height: 20px;
	/*background: url("../../../img/hryvna.png") no-repeat;*/
	left: -20px;
	top: 10px;
}

.tariffItemBody {
	padding: 20px 52px 20px 52px;
}
.tariffItemBody ul {
	list-style: disc;
}
.tariffItemBody ul li {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
	color: #979797;
	margin-bottom: 20px;
	position: relative;
}
.tariffItemBody ul li:before {
	position: absolute;
	content: '';
	width: 15px;
	height: 15px;
	left: -25px;
	top: 5px;
	/*background: url("../../../img/checked.png");*/
}
.tariffsBox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.btnWrapper {
	background: #fff;
	padding: 10px 10px 25px 10px;
	text-align: center;
}
.btnWrapper .buyBtn {
	width: 84%;

	margin: 0;
	font-size: 14px;
}

.activeBtn {
	background: #6ac259;
	cursor: default;
	border: none;
	width: 100%;
}
.activeBtn:hover {
	background: #6ac259;
}
/* activated */

.userInfo .activated {
	color: #019d45;

	font-size: 16px;
	line-height: 18px;
}

.yourPackage h3 {
	color: #4a4a4a;

	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	margin-bottom: 15px;
}

.packageItem {
	height: auto;
	width: 528px;
	border: 1px solid #ececec;
	border-radius: 5px;
	background-color: #ffffff;
}

.packageItemHeader {
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #e2e2e2;
	display: flex;
	align-items: center;
	padding: 10px 12px;
}

.packageItemHeader .price {
	width: 90px;
	color: #4a90e2;

	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	margin-right: 5px;
}

.packageItemTitle {
	color: #4a4a4a;

	font-size: 16px;
	font-weight: 500;
	line-height: 0;
	margin-right: 27px;
}

.active {
	color: #4a90e2;

	font-size: 14px;
	font-weight: 500;
	line-height: 0;
	margin-right: auto;
}

.priceBlock .currentPrice {
	color: rgb(247, 93, 129);
	font-size: 28px;
}

.packageItemBody {
	width: 100%;
	padding: 14px 12px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.buyFull {
	height: 40px;
	width: 528px;
	border-radius: 0 0 5px 5px;
	background-color: #4a90e2;
	color: #ffffff;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	display: block;
}

.chartBlock {
	border: 1px solid #ececec;
	border-radius: 5px;
	background-color: #ffffff;
	margin-bottom: 27px;
	padding: 26px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.ordersInProcessing h4 {
	color: #f19300;

	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	margin-bottom: 33px;
}

.completedOrders h4 {
	color: #019d45;

	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	margin-bottom: 33px;
}

.feed {
	width: 714px;
}

.feedBlock {
	height: auto;
	width: 714px;
	border: 1px solid #ececec;
	border-radius: 5px;
	background-color: #ffffff;
	padding: 35px 31px;
}
lock textarea {
	height: 192px;
	width: 649px;
	border: 1px solid #ececec;
	border-radius: 5px;
	background-color: #ffffff;
	resize: none;
	padding: 20px;
	margin-bottom: 24px;
}

.publish,
.send {
	height: 40px;
	width: 180px;
	border-radius: 5px;
	background-color: #4a90e2;
	color: #ffffff;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}

.feedActions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 25px;
}

.activity {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.orderCalendar {
	height: 760px;
	width: 406px;
	border: 1px solid #ececec;
	border-radius: 5px;
	background-color: #ffffff;
	padding: 34px 27px;
}

.post {
	padding-top: 29px;
}

.userAvatar {
	height: 50.83px;
	width: 50.83px;
	border-radius: 50%;
	margin-right: 15px;
}

.userAvatar img {
	width: 100%;
}

.postHeader {
	display: flex;
	margin-bottom: 19px;
}

.user {
	color: #4a4a4a;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	display: block;
}

.postDate {
	color: #9b9b9b;

	font-size: 10px;
	line-height: 11px;
}

.postBody {
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 18px;
	margin-bottom: 23px;
}

.actionLink {
	margin-bottom: 25px;
	display: flex;
}

.actionLink a {
	color: #9b9b9b;

	font-size: 14px;
	line-height: 16px;
	margin-right: 44px;
	display: flex;
}

.actionLink a img {
	margin-right: 15px;
}

.comments .yourComment {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.comments input {
	height: 46px;
	width: 579px;
	border: 1px solid #b2b2b2;
	border-radius: 3px;
	background-color: #ffffff;
	padding-left: 20px;
	color: #b2b2b2;

	font-size: 14px;
	line-height: 16px;
}

.send {
	margin-left: auto;
	display: block;
}

.modalContent p {
	color: #9b9b9b;

	font-size: 16px;
	line-height: 23px;
	text-align: justify;
}

.videoTariff h4 {
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 28px;
	display: flex;
	align-items: center;
	color: #323232;
	margin-bottom: 5px;
}
.videoTariff {
	padding: 20px 30px 0 30px;
	background: #fff;
	width: 100%;
	height: 100%;
	/*max-width: 700px;*/
	/* border-radius: 10px; */
	border-width: 1px;
	border-style: solid;
	border-color: rgb(235, 235, 235);
}
@media only screen and (max-width: 768px) {
	.videoTariff {
		/*width: 95%;*/
	}
}
.videoTariff .videoBlock {
	/* width: 551px; */
	height: 290px;
	overflow-x: hidden;
	/*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
}

.videoTariff .videoBlock img {
	/*width: 100%;*/
	height: 100%;
	display: inherit;
	margin: 0 auto;
}

.userImg {
	padding: 5px 0;
}
/*MEDIA QUERIES*/

@media screen and (max-width: 1266px) {
	.userContacts .userInfo p {
		font-size: 14px;
		margin-bottom: 8px;
	}
	.userContacts .userRating {
		margin-bottom: 8px;
	}
	.userImg {
		margin: 0 auto;
		width: unset;
		height: unset;
	}
	.userImg img {
		border-radius: 50%;
		width: 175px;
		height: 185px;

		object-fit: cover;
	}
	.userInfo {
		width: 100%;
	}
	.userContacts {
		flex-direction: column;
	}
}
@media screen and (max-width: 768px) {
	.userCard {
		flex-direction: column;
	}
}
@media screen and (max-width: 992px) {
	.videoTariff {
		margin-top: 40px;
	}
}
@media screen and (min-width: 1267px) {
	.userImg {
		height: 220px;
		width: 200px;
		margin-right: 17px;
	}
	.userImg img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}
@media screen and (max-width: 1325px) {
	.userCard {
		/*flex-direction: column;*/
	}
	.userBlock {
		/*margin: 0 auto 30px auto !important;*/

		/* display: flex; */
		/* flex-wrap: wrap; */
	}

	.botomUserProfileBlock {
		display: flex;
		flex-direction: column;
	}
	.botomUserProfileBlock .editBtn {
		width: inherit;
		margin-top: auto;
		order: 2;
	}
	.botomUserProfileBlock .description {
		order: 1;
		width: inherit;
	}
	/* .editBtn {
		margin-top: auto;
		margin: 0 40px;
	} */
}
@media only screen and (max-width: 550px) {
	.videoTariff .videoBlock img {
		width: 100%;
		height: auto;
		/*display: inherit;*/
		/*margin: 0 auto;*/
	}
}
@media only screen and (min-width: 992px) and (max-width: 1150px) {
	.videoTariff .videoBlock img {
		width: 100%;
		height: 100%;
		/*display: inherit;*/
		/*margin: 0 auto;*/
	}
}
