.Form {
	margin: 40px auto;

	height: 434px;
	width: 691px;

	border-radius: 5px;
	background-color: #ffffff;
	padding: 27px 30px 58px 30px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(233, 233, 233);
}

.loginFormButton {
	margin: 0 0 0 auto;
	width: 261px;

}

.logo {
	display: flex;
	align-items: center;
	color: #434343;
	font-size: 25px;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 30px;
}
.logo img {
	margin: 0 18px 0 0;
}

.title {
	color: #4a4a4a;

	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 25px;
	margin-bottom: 23px;
}
.Form label {
	color: #4a4a4a;

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	margin-bottom: 9.5px;
	display: block;
}

.reset {
	color: #719dcc;
	display: inline-block;
	font-size: 16px;
	line-height: 18px;

	margin-left: auto;
}

.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.reset {
	display: flex;
	justify-content: flex-end;
	font-size: 13px;
	margin-left: auto;
	margin-bottom: 30px;
	text-decoration: underline;
}
.registration {
	color: #699bd1;
	text-decoration: underline;
	font-size: 13px;
	line-height: 18px;
}
.regBtn {

	width: 210px;
	margin-bottom: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	border: 1px solid #e2e2e2;
}

/*Media*/

@media screen and (max-width: 768px) {
	.Form {
		width: 90%;
	}
}

@media screen and (max-width: 480px) {
	.registration {
		margin-top: 15px;
		margin-bottom: 20px;
	}
	.reset {
		margin-bottom: 10px;
		justify-content: center;
	}
	.actions {
		flex-direction: column-reverse;
	}
	.logo {
		font-size: 20px;
		margin-right: 10px;
	}
}
