.Group {
	width: 100%;
	/* margin-top: 2.5rem; */
}
.GroupItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}
.GroupItem input:nth-of-type(2),
.GroupItem button {
	margin-left: 10px;
}
.Text {
	margin: 0;

	width: 48%;
	font-size: 14px;
	line-height: 1rem;
	font-weight: 500;
	/*color: #4a4a4a;*/
}
.Parameters {
	width: 48%;
}

fieldset {
  margin-top: 10px;
	padding: 10px;
	margin-bottom: 20px;
	border: 2px groove #bddffd;
	border-radius: 5px;
}
legend {
	padding: 0 5px;
	font-size: 14px;
	margin: 0 0 0 20px;
	/*font-size: 1rem;*/
	width: initial;
}
