.title {
    color: #4A4A4A;

    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
}

.servicesBlock {
    /*height: 403px;*/
    width: 1156px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 40px 30px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.servicesItem {
    text-align: center;
    width: 258px;
}
.item {
    height: 258px;
    width: 100%;
    border: 1px solid #ECECEC;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 26px 28px 31px 43px;
    flex-direction: column;
    margin-bottom: 19px;
}

.payActions {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.itemImg {
    margin-bottom: 18px;
}

.itemTitle {
    color: #4A4A4A;

    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    margin-bottom: 18px;
}

.itemDescription {
    color: #9B9B9B;

    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.order {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: #4A90E2;
    color: #FFFFFF;

    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
