
.modalContent {
    margin-bottom: 48px;
}

.payActions {
    display: flex;
    justify-content: space-between;

}


.payBtn {
    height: 40px;
    /* width: 300px; */
    margin-right: 10px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #4a90e2;
    color: #ffffff;

    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
@media only screen and (max-width: 768px) {
    .payActions {
        flex-direction: column;
        align-items: center;
    }
    .payActions button, .payActions form {
        width: 100%;
    }
}
