* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}



.logo {
	/* height: 79px; */
	margin-right: 97px;
	/* padding: 0 0 0 30px; */

	display: flex;
	align-items: center;
	color: #434343;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 2px;
	line-height: 30px;
}

.logo img {
	margin: 0 18px 0 0;
}

.notification {
	position: relative;
	margin-right: 49px;
}

.alert {
	top: -5px;
	right: -15px;
	height: 15px;
	width: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f19300;
	border-radius: 50%;
	position: absolute;
	color: #fff;
	font-size: 12px;
}

.cart {
	position: relative;
	margin-right: 170px;
}

.balanceBlock {
	display: flex !important;
	align-items: center !important;
}

.balanceBlock p {
	color: #4a4a4a;

	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 500;
	/* line-height: 22px; */
	margin: 0 27px 0 0;
}

.userBlock {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.balanceBox span {
	font-size: 18px;
}

.balanceBox {
	display: flex;
	align-items: center;
	width: 200px;
	border-radius: 3px;
	background-color: #fafafa;
	color: #4a90e2;

	font-size: 14px;
	font-weight: 500;
	line-height: 26px;
}

.dollarIcon {
	height: 35px;
	width: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #eeeeee;
	margin-right: 15px;
}

.avatar {
	height: 52px;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	width: 54px;
	border-radius: 50%;
	margin-right: 19px;
	overflow: hidden;
}

.avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.nameBlock {
	display: flex;
	flex-direction: column;
	color: #9b9b9b;
	font-size: 12px !important;
}

.name {
	display: flex;
	color: #9b9b9b;

	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	margin-right: 18px;
}

/*Media*/
@media screen and (max-width: 480px) {

	/*.logo {*/
	/*	font-size: 22px !important;*/
	/*}*/
}
