.Form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px;
	background: #fff;
}
.Form label {
	color: #4a4a4a;

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
}
.mainWrapper {
	padding: 10px;
}

.firstColumn {
	flex: 1;
	margin: 0 25px 0 0;
}

.secondColumn {
	flex: 1;
	margin: 0 0 0 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
@media only screen and (max-width: 984px) {
	.secondColumn {
		flex-basis: 100%;
	}
	.firstColumn, .secondColumn {
		margin: 0;
	}
	.logo {

		justify-content: center;
		text-align: center;
	}
}
.CheckboxGroup {
	display: flex;
	flex-direction: column;
}
.document {
	padding: 20px;
	background: #fff;
}
.documentBlock {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.documentBlock i {
	font-size: 30px !important;
	color: #4a90e2;
	cursor: pointer;
}

.title {
	color: #4a4a4a;

	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
}
.generalInformation {
	padding: 35px 36px 35px 29px;
	background: #fff;
	border: 1px solid #ececec;
	border-top: none;
	display: flex;
	justify-content: space-between;
}
.generalInformation h4 {
	color: #4a4a4a;

	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	margin-bottom: 25px;
}
.generalInformation span {
	color: #9b9b9b;

	font-size: 14px;
	line-height: 20px;
	margin-bottom: 45px;
	display: block;
}
.generalInformation label {
	color: #4a4a4a;

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	display: block;
	margin-bottom: 10px;
}
.right {
	width: 532px;
}
.generalInformation input[type='text']
{
	margin-bottom: 0;
	height: 41px;
	width: 100%;
	border: 1px solid #ececec;
	border-radius: 3px;
	background-color: #ffffff;
	padding-left: 20px;
}
.generalInformation div {
	margin-bottom: 17px;
}
.generalInformation h5 {
	color: #4a4a4a;

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	margin-bottom: 21px;
	margin-top: 20px;
}
.type {
	/*display: flex;*/
	margin-bottom: 30px;
}
.type label {
	color: #969696;

	font-size: 16px;
	line-height: 10px;
	font-weight: normal;
	display: block;
	margin-bottom: 17px !important;
}
.type input[type='checkbox'] {
	margin-right: 19px;
	height: 15px;
	width: 15px;
	border: 1px solid #e2e2e2;
	border-radius: 2px;
}

.logo {
	display: flex;
	flex-wrap: wrap;

}
.logoImg {
	width: 200px;
	height: 200px;
	margin-right: 29px;
}
.logoImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.logoInfo {
	width: 261px;
}
.logoInfo h4 {
	margin-bottom: 34px;
}
.logo p {
	color: #9b9b9b;

	font-size: 14px;
	line-height: 20px;
	margin-bottom: 59px;
}
.change {
	height: 40px;
	width: 100%;
	border-radius: 5px;
	background-color: #4a90e2;
	color: #ffffff;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}
.left {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.left h4 {
	margin-bottom: 35px;
}
.loginFormButton {
	height: 40px;
	width: 311px;


	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin-left: auto;
	display: block;
}

.companyPage {
	background: #fff;
	border-top: none;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.textareawrapper{
	max-width: 551px;
	width: 100%;
}
.companyPage textarea {
	height: 192px;
	width: 100%;
	border: 1px solid #ececec;
	border-radius: 5px;
	resize: none;
	padding: 20px;
	margin-right: 22px;
}

.companyPage .info {
	width: 350px;

}
.companyPage .info p {
	color: #d3d3d3;

	font-size: 18px;
	line-height: 26px;
	margin-bottom: 20px;
}
.pitch {
	background: #fff;
	border-top: none;
}
.pitch label {
	color: #4a4a4a;

	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	display: block;
	margin-bottom: 10px;
}
.pitch div {
	margin-bottom: 17px;
}
.pitch div:last-child {
	margin-bottom: 0;
}
.pitch input[type='text'] {
	/*height: 41px;*/
	/*width: 532px;*/
	border: 1px solid #ececec;
	border-radius: 3px;
	padding-left: 20px;
	background-color: #ffffff;
}
.last {
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-bottom: 0;
}
.save {
	margin-bottom: 15px;
	height: 40px;
	width: 260px;
	border-radius: 5px;
	background-color: #4a90e2;
	color: #ffffff;

	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	display: block;
	margin-left: auto;
}

.documents {
	background: #fff;
	padding: 30px 24px;
	border: 1px solid #ececec;
	border-top: none;
}

.documentTitle {
	color: #4a4a4a;

	font-size: 18px;
	font-weight: 500;
	line-height: 21px;
	margin-bottom: 15px;
}
.description {
	color: #d3d3d3;

	font-size: 18px;
	line-height: 21px;
}
.information {
	color: #d3d3d3;

	font-size: 18px;
	line-height: 21px;
}
.type .Checkbox {
	margin-bottom: 17px;
}
.typeTitle {
	color: #4a4a4a;
	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	margin-bottom: 21px;
}
.sectionDescription {
	color: #9b9b9b;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 45px;
	display: block;
}

.docImg {
	display: flex;
	flex-wrap: wrap;
}

.docImg img {
	width: 100px;
	height: 100px;
	margin: 0 10px 0 0;
}

.logoImg {
	width: 200px;
	height: 200px;
	background: #ececec;
	margin-right: 27px;
}
.logoImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.headerInfo {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 37px;
}
.formTitle {
	font-size: 25px;
	font-weight: 500;
}
.logo {
	display: flex;
	margin: 0 0 50px 0;
}

.logoInfo {
	width: 261px;
}
.logoInfo p {
	color: #9b9b9b;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 60px;
}
.download {
	height: 40px;
	width: 100%;
	border-radius: 5px;
	background-color: #4a90e2;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
}
@media only screen and (max-width: 768px) {
	.information {
		font-size: 15px;
	}
	.description {
		display: block;
		font-size: 15px;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 1040px) {
	.textareawrapper {
		max-width: unset;
	}
	.companyPage .info {
		width: 100% ;
	}
	.companyPage .info button{
		margin-left: 0;
	}
	.companyPage .info p {
		font-size: 15px ;
	}
}
