.navigationBar {
	max-width: 226px;
	border: 1px solid #ececec;
	background: #fff;
	min-height: 100%;
	position: relative;
}

.leftNavigation {
	width: 226px !important;
}

.menuIcon {
	font-size: 25px !important;
}
.navigationBar a.menuItem {
	height: 60px;
	width: 225px;
	display: flex;
	align-items: center;
	color: #2b2b2b;

	font-size: 15px;
	line-height: 17px;
	text-decoration: none;
	border-bottom: 1px solid #ececec;
	padding-left: 15px;
}

a.menuItem:hover,
a.menuItem:focus {
	background: #4a90e2;
	color: #ffffff;

	font-weight: 500;
}
a.menuItem:hover i,
a.menuItem:focus i {
	color: #ffffff;
}
a.menuItem {
	display: flex;
	align-items: center;
	transition: 0.2s linear;
	padding: 5px 13px;
	/* border-bottom: 1px solid #ececec; */
}

.navButton {
	position: absolute;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	right: 0;
	left: 0;
	font-size: 30px;
	/* margin-top: auto; */
	cursor: pointer;
	background: #ececec;
	transition: auto;
}
.navButton:hover {
	background: #cccbcb;
	transition: auto;
}
