/** {*/
/*	margin: 0;*/
/*	padding: 0;*/
/*	box-sizing: border-box;*/
/*}*/

/*#root,*/
/*.App {*/
/*	height: 100%;*/
/*}*/

/*a.active {*/
/*	color: #fff !important;*/
/*	background-color: #4a90e2;*/
/*}*/

/*.container {*/
/*	width: 100%;*/

/*	!*max-width: 1440px;*!*/
/*	margin: 0 auto;*/
/*}*/
.route-transition-enter {
	opacity: 0;
}
.route-transition-enter-active {
	opacity: 1;
	transition: opacity 300ms ease-in-out;
}
.route-transition-exit {
	opacity: 1;
}
.route-transition-exit-active {
	opacity: 0;
	transition: opacity 300ms;
}
.ant-modal-wrap {
	z-index: 1002;
}
@media only screen and (max-width: 1200px) {
	.create-edit-modal {
		width: 80% !important;
	}
}
@media only screen and (max-width: 768px) {
	.create-edit-modal {
		width: 95% !important;
	}
}
	/*.content-container {*/
/*	height: 91vh;*/
/*	!* min-height: calc(100% - 82px); *!*/
/*}*/

/*.wrap {*/
/*	display: flex;*/
/*	height: 100%;*/
/*}*/

/*.admin-side {*/
/*	height: 100%;*/
/*	overflow: hidden;*/
/*}*/

/*.admin-content {*/
/*	background: #f6f9fb;*/
/*	width: 100%;*/
/*	!* padding-top: 100px; *!*/
/*	height: 89vh;*/
/*	overflow-y: scroll;*/
/*	flex: 1;*/
/*}*/

/*.page {*/
/*	min-height: 100%;*/
/*	height: max-content;*/
.ytp-cued-thumbnail-overlay-image {
	background-position: unset !important;
}
/*	padding-bottom: 50px !important;*/
/*	!* background: #fff; *!*/
/*	!* padding: 20px; *!*/
/*}*/

/*.page-title {*/
/*	color: #4a4a4a;*/
/*	!* background: #fafafa; *!*/
/*	*/
/*	font-size: 30px;*/
/*	font-weight: 500;*/
/*	line-height: initial;*/
/*	padding: 10px 50px 10px 15px;*/
/*	margin: 0;*/
/*	!* border-bottom: 1px solid #ececec; *!*/
/*}*/

/*.page-title i {*/
/*	margin: 0 20px 0 0;*/
/*}*/

/*.page-title i:hover {*/
/*	color: #4a90e2;*/
/*	cursor: pointer;*/
/*}*/

/*.ant-menu-item {*/
/*	padding: 0 !important;*/
/*	margin: 0 !important;*/
/*	height: max-content !important;*/
/*}*/

/*.ant-menu-inline-collapsed > .ant-menu-item {*/
/*	padding: 0 !important;*/
/*	margin: 0 !important;*/
/*	height: max-content !important;*/
/*}*/

/*.page-content {*/
/*	padding: 10px 10px 20px 10px;*/
/*	margin-bottom: 30px;*/
/*}*/

/*.ant-menu-inline-collapsed {*/
/*	width: 49px !important;*/
/*}*/

/*.ant-table-thead > tr > th {*/
/*	background: #efefef;*/
/*}*/

/*.active-icon {*/
/*	display: none;*/
/*}*/
/*.ant-menu-vertical {*/
/*	border-right: 1px solid #e8e8e8 !important;*/
/*}*/
/*.active .default-icon {*/
/*	display: none !important;*/
/*}*/

/*.active .active-icon {*/
/*	display: block !important;*/
/*	color: #fff;*/
/*}*/

/*.ant-table-pagination.ant-pagination {*/
/*	margin-left: 20px;*/
/*}*/

/*.ant-collapse > .ant-collapse-item > .ant-collapse-header {*/
/*	background: #fff;*/
/*	color: #4f4f4f;*/
/*	*/
/*	font-size: 16px;*/
/*	line-height: 18px;*/
/*	position: relative !important;*/
/*}*/

/*.ant-collapse > .ant-collapse-item > .ant-collapse-header:active,*/
/*.ant-collapse > .ant-collapse-item > .ant-collapse-header:focus,*/
/*.ant-collapse > .ant-collapse-item > .ant-collapse-header:visited {*/
/*	background: #4a90e2;*/
/*	color: #ffffff;*/
/*	*/
/*	font-size: 16px;*/
/*	font-weight: 500;*/
/*	line-height: 22px;*/
/*}*/

/*.react-daypicker-root {*/
/*	width: 100%;*/
/*	border-bottom: 1px solid #e2e2e2;*/
/*	padding-bottom: 30px;*/
/*}*/

/*.react-daypicker-root table {*/
/*	width: 100%;*/
/*}*/

/*.react-daypicker-root .header {*/
/*	margin-bottom: 30px;*/
/*	!*padding-bottom: 20px;*!*/
/*}*/

/*.ant-modal-title {*/
/*	color: #4a4a4a;*/
/*	*/
/*	font-size: 22px;*/
/*	font-weight: 500;*/
/*	line-height: 35px;*/
/*}*/

/*.ant-modal-content {*/
/*	padding: 23px 30px;*/
/*}*/

/*.ant-tabs-bar {*/
/*	margin: 0;*/
/*}*/

/*.ant-upload {*/
/*	width: 636px !important;*/
/*	background-color: #fff !important;*/
/*}*/

/*.ant-upload-list-item {*/
/*	display: none;*/
/*}*/

/*.ant-upload-drag {*/
/*	width: 638px !important;*/
/*}*/

/*.ant-upload-text {*/
/*	font-size: 15px !important;*/
/*	font-weight: 600;*/
/*}*/

/*.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {*/
/*	margin-right: 0;*/
/*	background: #ffffff;*/
/*}*/

/*.ant-pagination-options .ant-select-selection--single {*/
/*	width: 100px !important;*/
/*	height: auto !important;*/
/*}*/

/*.ant-modal-content {*/
/*	!* width: 691px; *!*/
/*	border: 1px solid #ececec;*/
/*	border-radius: 5px;*/
/*	background-color: #ffffff;*/
/*}*/

/*.ant-modal-body {*/
/*	padding: 0px 0;*/
/*	width: 100%;*/
/*}*/

/*.ant-modal-header {*/
/*	padding: 0 0 12px 0;*/
/*	border-bottom: none;*/
/*}*/

/*!* .ant-table-body {*/
/*    overflow: scroll;*/
/*    padding: 0;*/
/*} *!*/

/*.ant-upload {*/
/*	height: 30px;*/
/*	width: 30px;*/
/*	background-color: #4a90e2;*/
/*}*/

/*.ant-menu-sub {*/
/*	width: 100%;*/
/*}*/

/*.ant-tabs-bar {*/
/*	border-bottom: none;*/
/*	!*margin-bottom: 30px;*!*/
/*}*/

/*!*TABS*!*/
/*.ant-tabs-content {*/
/*	background: #fff;*/
/*	border: 1px solid #ececec;*/
/*	padding: 25px 40px 25px 25px;*/
/*}*/

/*.ant-select-selection--single {*/
/*	width: 100% !important;*/
/*}*/

/*!*FORM*!*/
/*.ant-form-item {*/
/*	margin: 0;*/
/*}*/

/*.ant-checkbox-wrapper + .ant-checkbox-wrapper {*/
/*	margin: 0;*/
/*}*/

/*!* .ant-form-item-control {*/
/*  line-height: 0;*/
/*} *!*/

/*.btn {*/
/*	height: 40px;*/
/*	min-width: 206px;*/
/*	width: max-content;*/
/*	border-radius: 5px;*/
/*	background-color: #4a90e2;*/
/*	color: #ffffff;*/
/*	*/
/*	font-size: 16px;*/
/*	font-weight: 500;*/
/*	line-height: 22px;*/
/*	margin-right: 20px;*/
/*	padding: 0 10px;*/
/*	transition: all 0.7s;*/
/*}*/
/*.ant-table-thead > tr,*/
/*.ant-table-thead > tr > th {*/
/*	background: #f5fafe;*/
/*}*/
/*.ant-table-thead > tr:hover,*/
/*.ant-table-thead > tr > th:hover {*/
/*	background: #f5fafe;*/
/*}*/
/*.m-0 {*/
/*	margin: 0;*/
/*}*/
/*.ant-menu-inline-collapsed > .ant-menu-item .anticon {*/
/*	line-height: 16px;*/
/*}*/
/*td .btn.edit-btn {*/
/*	height: 30px;*/
/*	width: max-content;*/
/*	min-width: unset;*/
/*	margin: 0;*/
/*	width: 123px;*/
/*	font-size: 14px;*/
/*}*/

/*.btn button {*/
/*	height: 40px;*/
/*	width: 100%;*/
/*	border-radius: 5px;*/
/*	background-color: #4a90e2;*/
/*	color: #ffffff;*/
/*	*/
/*	font-size: 16px;*/
/*	font-weight: 500;*/
/*	line-height: 22px;*/
/*	margin-right: 20px;*/
/*}*/

/*.btn:hover {*/
/*	background-color: #3870af !important;*/
/*	cursor: pointer;*/
/*}*/
/*button {*/
/*	border: none;*/
/*}*/
/*button:disabled {*/
/*	background-color: #b1b1b1 !important;*/
/*	color: #ffffff;*/
/*}*/

/*button:disabled:hover {*/
/*	background-color: #b1b1b1 !important;*/
/*	color: #ffffff;*/
/*	cursor: no-drop;*/
/*}*/
/*.ant-tabs {*/
/*	padding-bottom: 100px;*/
/*}*/
/*.btn-remove {*/
/*	border-radius: 5px;*/
/*	background-color: #e20013;*/
/*	padding: 7px 14px;*/
/*	color: #ffffff;*/
/*	*/
/*	font-size: 16px;*/
/*	font-weight: 500;*/
/*	line-height: 22px;*/
/*	margin-right: auto;*/
/*	cursor: pointer;*/
/*}*/

/*.ant-dropdown-link {*/
/*	display: flex;*/
/*	align-items: center;*/
/*}*/

/*.ant-table-header-column {*/
/*	width: 100%;*/
/*}*/

/*.filter-field {*/
/*	width: 100%;*/
/*	display: flex;*/
/*	flex-direction: column;*/
/*}*/

/*.filter-field input,*/
/*.filter-field select {*/
/*	height: 31px;*/
/*	width: 100%;*/
/*	border: 1px solid #b2b2b2;*/
/*	border-radius: 3px;*/
/*	background-color: #ffffff;*/
/*	padding: 0 0 0 5px;*/
/*}*/

/*.product-avatar {*/
/*	display: flex;*/
/*	align-items: center;*/
/*}*/

/*.product-avatar .product-avatar-block {*/
/*	flex-basis: 100px;*/
/*	height: 80px;*/
/*	margin: 0 10px 0 0;*/
/*	overflow: hidden;*/
/*}*/

/*.product-avatar span {*/
/*	width: 90%;*/
/*}*/

/*.product-avatar .product-avatar-block img {*/
/*	object-fit: cover;*/
/*	width: 100%;*/
/*	height: 100%;*/
/*}*/

/*.ant-table-tbody .ant-table-row-level-0:nth-child(2n) {*/
/*	background-color: #fcfcfc;*/
/*}*/

/*.ant-select-selection--single {*/
/*	!* height: 46px;  *!*/
/*	width: 630px;*/
/*	border: 1px solid #e3e3e3;*/
/*	border-radius: 4px;*/
/*	background-color: #ffffff;*/
/*	!*margin-bottom: 42px;*!*/
/*}*/

/*.ant-menu-vertical {*/
/*	!* border: 0 !important; *!*/
/*}*/

/*.ant-menu-submenu-arrow {*/
/*	right: 0 !important;*/
/*}*/

/*!*modal*!*/

/*.modal .ant-tabs-content {*/
/*	padding: 0 16px !important;*/
/*	border: 0 !important;*/
/*}*/

/*.modal .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {*/
/*	border: 0 !important;*/
/*}*/

/*.ant-modal-confirm-success {*/
/*	width: max-content !important;*/
/*	position: absolute !important;*/
/*	left: 0;*/
/*	right: 0;*/
/*	top: 0;*/
/*	bottom: 0;*/
/*	margin: auto !important;*/
/*	height: 300px;*/
/*}*/

/*!*orders*!*/
/*.order-description {*/
/*	display: flex;*/
/*}*/

/*@media screen and (max-width: 480px) {*/
/*	.ant-modal-content {*/
/*		width: 100% !important;*/
/*		padding: 20px;*/
/*	}*/
/*}*/

/*th.column-middle,*/
/*td.column-middle {*/
/*	text-align: center !important;*/
/*}*/

/*!* DICH STYLES *!*/
/*.ant-table-small > .ant-table-content > .ant-table-body {*/
/*	margin: 0;*/
/*}*/

/*.ant-table-small*/
/*	> .ant-table-content*/
/*	> .ant-table-body*/
/*	> table*/
/*	> .ant-table-thead {*/
/*	background: #efefef;*/
/*}*/

/*.ant-table-small*/
/*	> .ant-table-content*/
/*	> .ant-table-body*/
/*	> table*/
/*	> .ant-table-thead*/
/*	> tr*/
/*	> th {*/
/*	height: 69px;*/
/*}*/

/*!* Fix list padding *!*/
/*ol,*/
/*ul,*/
/*dl {*/
/*	padding-inline-start: 40px;*/
/*}*/
/*.ant-carousel .slick-slide {*/
/*	text-align: center;*/
/*	height: 300px;*/
/*	!*width: 200px !important;*!*/
/*	line-height: 160px;*/
/*	background: #f6f9fb;*/
/*	!*overflow: hidden;*!*/
/*}*/
/*.ant-carousel .slick-dots li {*/
/*	background: #4a90e2;*/
/*}*/
/*.ant-carousel .slick-dots .slick-active button {*/
/*	background: #096dd9 !important;*/
/*}*/
