/*body {*/
/*	margin: 0;*/
/*	padding: 0;*/
/*	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
/*		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
/*		sans-serif;*/
/*	-webkit-font-smoothing: antialiased;*/
/*	-moz-osx-font-smoothing: grayscale;*/
/*	background-color: #f6f9fb;*/
/*}*/

/*code {*/
/*	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*		monospace;*/
/*}*/
/*header {*/
/*	position: fixed;*/
/*	z-index: 2;*/
/*}*/
/*.ant-menu-inline li.ant-menu-item {*/
/*	overflow: initial;*/
/*}*/
/*.my-node-enter-done {*/
/*	display: none;*/
/*}*/
/*.container {*/
/*	height: 70px;*/
/*}*/
/*.my-node-enter {*/
/*	opacity: 0;*/
/*}*/
/*.my-node-enter-active {*/
/*	opacity: 1;*/
/*	transition: opacity 200ms;*/
/*}*/
/*.my-node-exit {*/
/*	opacity: 1;*/
/*}*/
/*.my-node-exit-active {*/
/*	opacity: 0;*/
/*	transition: opacity 200ms;*/
/*}*/
