.main {
	padding: 28px 10px;
}

.title {
	color: #4a4a4a;

	font-size: 30px;
	font-weight: 500;
	line-height: 35px;
	margin-top: 10px;
	margin-bottom: 27px;
}

.instructionBlock {
	height: auto;
	width: 100%;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
		0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
	border-radius: 5px;
	background-color: #ffffff;
	padding: 48px 86px 25px 99px;
}
.instructionBlock p {
	color: #808080;

	font-size: 16px;
	line-height: 23px;
}
.main h4 {
	font-size: 18px;
	color: #323232;
	font-weight: 500;
	margin-bottom: 20px;
}
.imgHolder {
	text-align: center;
	margin-bottom: 20px;
}
.instructionBlock h4 {
}

.modalScreensList {
	list-style: none;
}
.modalScreensList > li {
	text-align: center;
	margin-bottom: 20px;
}
.modalTabsList {
	padding-left: 45px;
	margin-bottom: 19px;
	height: 176px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 30px;
}

/* ========== New styles ============ */
.dataList {
	padding-left: 35px;

	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
}

.excelButton {
	display: block;
	margin: 0 auto 50px;
	height: 40px;
	width: 300px;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
}
.excelButton_text {
	margin: 0;
}
.excelButton_text::after {
	content: '';
	display: inline-block;
	background-image: url('../../../img/ExcelLogoMini.svg');
	width: 24px;
	height: 24px;
	margin-left: 6px;
	vertical-align: middle;
}

.fieldDescriptionList {
	list-style: none;
	color: #808080;
}

iframe,

.paragraph,
.instructionBlock > p,
.instructionBlock > h4
/*.instructionBlock img */
 {
	/* margin: 0 auto 30px auto; */
	width: 100%;
}
@media only screen and (max-width: 1200px) {
	.imgHolder img {
		width: 100%;
		height: auto;
	}
}
@media only screen and (max-width: 768px) {
	img {
		width: 100%;
	}
}
